<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block content %}
  <h1>Mot de passe oublié ?</h1>
  <p>Entre ton adresse email ci-dessous, et nous t'enverrons les instructions pour réinitialiser ton mot de passe.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Envoyer les instructions">
  </form>
{% endblock %}
