<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Mot de passe correctement réinitialisé !{% endblock %}

{% block content %}
<h1>Mot de passe correctement réinitialisé !</h1>
<p>Ton mot de passe a bien été modifié. Tu peux maintenant te connecter en te rendant sur la <a href="{% url 'home' %}">page de connexion</a>.</p>
{% endblock %}
