<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block title %}Entre ton nouveau mot de passe{% endblock %}

{% block content %}

{% if validlink %}

<h1>Définis un nouveau mot de passe !</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Changer mon mot de passe">
</form>

{% else %}

<p>Le lien de réinitialisation est invalide, probablement car il a déjà été utilisé. Recommence ta demande de mot de passe oublié.</p>

{% endif %}
{% endblock %}
