<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}

{% block title %}Mail envoyé !{% endblock %}

{% block content %}
<h1>Vérifie ta boîte mail.</h1>
<p>
  Nous t'avons envoyé les instructions pour réinitialiser ton mot de passe. Tu
  devrais recevoir un mail prochainement !
</p>
<p>
  N'oublie pas de vérifier les spams si jamais tu ne le vois pas (l'adresse de l'expéditeur est "monpo2022@gmail.com").
</p>
<p>
  En cas de besoin, n'hésite pas à contacter l'<a href="mailto:monpo2022@gmail.com">équipe de support</a>.
</p>
{% endblock %}