<!-- List to order question -->

<template>
  <div>
    <div class="priorisation-help">
      <i class="fa fa-plus-square fa-3x text-darkgreen" aria-hidden="true"></i>
    </div>
    <div class="form-group">
      <div class="d-flex flex-column align-items-center">
        <span class="title">{{ question.questionText }}</span>
        <draggable v-model="priorisations" class="list-group w-100">
          <div
            class="list-group-item list-group-item-action draggable-item m-1 p-2 rounded-md text-left d-flex justify-content-between align-items-center flex-wrap"
            v-for="(element, index) in priorisations"
            :key="element.title"
          >
            <span v-bind:class="element.type" class="badge mr-2"
              >{{ index + 1 }} <i class="fas fa-bars"></i
            ></span>
            <span style="flex: 1">{{ element.title }}</span>
            <div class="clickable-item text-center">
              <button @click="move(index, index - 1)" :disabled="index === 0">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
              </button>
              <button
                @click="move(index, index + 1)"
                :disabled="index === priorisations.length - 1"
              >
                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </draggable>
      </div>
    </div>
    <div class="priorisation-help">
      <i class="fa fa-minus-square fa-3x text-orange" aria-hidden="true"></i>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { OrderList } from '@/constants';
import { VueDraggableNext } from 'vue-draggable-next';

interface DataType {
  priorisations: OrderList['listToOrder'];
}

export default defineComponent({
  name: 'ListToOrder',
  components: {
    draggable: VueDraggableNext,
  },
  data(): DataType {
    return {
      priorisations: [],
    };
  },

  props: {
    modelValue: { type: String, required: true },
    question: { type: Object as PropType<OrderList>, required: true },
  },

  emits: ['update:modelValue'],

  computed: {
    answer: {
      get(): null | number[] {
        return JSON.parse(this.modelValue);
      },
      set(value: number[]) {
        this.$emit('update:modelValue', JSON.stringify(value));
      },
    },
  },
  watch: {
    // whenever priorisations changes, update answer
    async priorisations() {
      this.answer = this.priorisations.map(element => element.id);
    },
  },
  created() {
    const priorisations =
      this.answer !== null
        ? this.answer.map(itemId =>
            this.question.listToOrder.find(element => element.id === itemId),
          )
        : this.question.listToOrder;
    if (priorisations.includes(undefined)) {
      console.log('Error: corrupted answers', this.answer);
      this.priorisations = this.question.listToOrder;
      return;
    }
    this.priorisations = priorisations as OrderList['listToOrder'];
  },
  methods: {
    move(from: number, to: number) {
      this.priorisations = this.priorisations.map((element, index) => {
        if (index === from) {
          return this.priorisations[to];
        }
        if (index === to) {
          return this.priorisations[from];
        }
        return element;
      });
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

.draggable-item {
  :hover {
    cursor: grab;
  }
}
.firecamp {
  background-color: $orange;
  color: $darkblue;
}
.individual {
  background-color: $blue;
  color: white;
}
.not-debated {
  background-color: whitesmoke;
  color: $darkblue;
}
.sortable-chosen {
  cursor: grabbing;
}
.clickable-item {
  cursor: pointer;
}
button {
  color: $darkgreen;
}
button[disabled] {
  color: $red;
}
</style>
