<!-- Radio input for QCU questions -->

<template>
  <div class="form-group">
    <div>
      <span class="title">
        {{ question.questionText }}
      </span>
    </div>
    <div class="btn-group">
      <div
        class="btn-group-toggle custom-toggle"
        v-for="possibleAnswer in question.possibleAnswers"
        v-bind:key="possibleAnswer"
      >
        <input
          type="radio"
          :name="`options-${question.id}`"
          :id="`${question.id}-${possibleAnswer}`"
          :value="possibleAnswer"
          v-model="answer"
        />
        <label
          class="btn btn-outline-success mr-1 mb-1"
          :for="`${question.id}-${possibleAnswer}`"
        >
          {{ possibleAnswer }}</label
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { QcuQuestion } from '@/constants';

export default defineComponent({
  name: 'Qcu',
  props: {
    modelValue: { type: String, required: true },
    question: { type: Object as PropType<QcuQuestion>, required: true },
  },
  emits: ['update:modelValue'],
  computed: {
    answer: {
      get(): string {
        return this.modelValue;
      },
      set(value: string) {
        this.$emit('update:modelValue', value);
      },
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

.qcu-layout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.custom-toggle {
  position: relative;
  margin-right: 5px;
}

.custom-toggle input {
  position: absolute;
  left: -2px;
  top: -2px;
}

.custom-toggle input:checked + label {
  @extend .btn-success;
}
</style>
