<!-- QuestionBlock
Block of questions with data fetching logic -->

<template>
  <div class="container">
    <Spinner :activated="loading" />
    <div class="flex-container" v-if="!loading">
      <div
        v-for="(question, index) in questions"
        v-bind:key="question.id"
        class="question-container"
      >
        <div>
          <TextField
            v-if="isTextQuestion(question)"
            :question="question.text"
            v-model="answers[index]"
          />
          <Qcu
            v-if="isQcuQuestion(question)"
            :question="parseQcu(question)"
            v-model="answers[index]"
          />
          <TextField
            v-if="isAspirationQuestion(question)"
            :question="question.text"
            v-model="answers[index]"
          />
          <ListToOrder
            v-if="isListToOrder(question)"
            :question="parsePriorisation(question)"
            v-model="answers[index]"
          />
        </div>
      </div>
    </div>
    <button
      v-if="questions.length > 0"
      type="submit"
      class="btn btn-primary"
      :disabled="isSendingAnswers"
      @click="submit"
    >
      <span
        v-show="isSendingAnswers"
        class="spinner-border spinner-border-sm"
      ></span>
      <span>Envoyer</span>
    </button>
    <div
      v-if="message"
      class="alert alert-dismissible fade show mt-2"
      v-bind:class="isError ? 'alert-danger' : 'alert-success'"
      role="alert"
    >
      <span>
        {{ message }}
      </span>
      <button
        type="button"
        class="close"
        aria-label="Fermer l'alerte"
        @click="closeAlert"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import axiosClient from '@/service/axiosClient';
import qs from 'qs';
import shuffle from 'lodash/shuffle';
import Spinner from '@/components/globals/Spinner.vue';
import { defineComponent } from 'vue';
import {
  Answer,
  QcuQuestion,
  Question,
  QuestionType,
  OrderList,
} from '@/constants';
import TextField from './TextField.vue';
import Qcu from './Qcu.vue';
import ListToOrder from './ListToOrder.vue';
import { sessionStore } from '@/store/session';
import router, { Routes } from '@/router';
import { authStore } from '@/store/auth';

interface DataType {
  questions: Question[];
  loading: boolean;
  answers: (string | null)[];
  answer: string;
  isSendingAnswers: boolean;
  message: string;
  isError: boolean;
}

export default defineComponent({
  name: 'QuestionBlock',
  props: {
    themeId: { type: Number, required: false },
    contentId: { type: Number, required: false },
  },
  components: { Spinner, TextField, Qcu, ListToOrder },
  data(): DataType {
    return {
      loading: false,
      questions: [],
      answers: [],
      answer: 'default',
      isSendingAnswers: false,
      message: '',
      isError: false,
    };
  },
  computed: {
    participationType() {
      return sessionStore.getParticipationType();
    },
    participationUnit() {
      return sessionStore.getParticipationUnit();
    },
  },
  watch: {
    // whenever participationType changes, reload answers
    async participationType() {
      this.loading = true;
      try {
        await this.fetchAnswers();
      } catch (error) {
        console.error('Error while retrieving answers', error);
        this.questions = [];
        this.answers = [];
      } finally {
        this.loading = false;
      }
    },
  },
  async created() {
    this.loading = true;
    try {
      const questionsResponse = await axiosClient.get<Question[]>(
        `/api/questions/?theme_id=${this.themeId}&content_id=${this.contentId}`,
      );
      this.questions = questionsResponse.data.sort((questionA, questionB) =>
        questionA.text < questionB.text ? -1 : 1,
      );
      await this.fetchAnswers();
    } catch (error) {
      if (error.response.status === 401) {
        authStore.logout();
        router.push({ name: Routes.LOGIN });
        return;
      }
      console.error('Error while retrieving questions or answers', error);
      this.questions = [];
      this.answers = [];
    } finally {
      this.loading = false;
    }
  },
  methods: {
    isTextQuestion(question: Question) {
      return question.type === QuestionType.TEXT;
    },
    isAspirationQuestion(question: Question) {
      return question.type === QuestionType.ASPIRATION_QUESTION;
    },
    isQcuQuestion(question: Question) {
      return question.type === QuestionType.QCU;
    },
    isListToOrder(question: Question) {
      return question.type === QuestionType.LIST_TO_SORT;
    },
    parseQcu(question: Question): QcuQuestion {
      try {
        return { id: question.id, ...JSON.parse(question.text) };
      } catch (error) {
        console.error(`Invalid QCU question #${question.id}: ${question.text}`);
        return {
          id: question.id,
          questionText: `Oups ! Une erreur s\'est glissée dans cette question ! Code d'erreur: Q-${question.id}`,
          possibleAnswers: [],
        };
      }
    },
    parsePriorisation(question: Question): OrderList {
      const aspirationList =
        question.content_details?.theme.prioritized_aspirations ?? [];
      return {
        id: question.id,
        questionText: question.text,
        listToOrder: shuffle(aspirationList),
      };
    },

    async fetchAnswers(): Promise<void> {
      const queryString = qs.stringify(
        {
          qid: this.questions.map(question => question.id),
          participation_type: this.participationType,
          participation_unit: this.participationUnit,
        },
        { arrayFormat: 'repeat' },
      );
      const existingAnswersResponse = await axiosClient.get<Answer[]>(
        `/api/answers/?${queryString}`,
      );
      const existingAnswers = existingAnswersResponse.data;
      this.answers = this.questions.map(
        question =>
          existingAnswers.find(answer => answer.question === question.id)
            ?.text ?? null,
      );
    },

    async submit() {
      this.isSendingAnswers = true;

      try {
        await axiosClient.post(
          '/api/answers/',
          this.questions
            .map((question, index) => ({
              text: this.answers[index],
              question_id: question.id,
              participation_type: this.participationType,
              participation_unit: this.participationUnit,
            }))
            // only send non-null answers
            .filter(obj => obj.text !== null),
        );
        this.isError = false;
        this.message = 'Réponse envoyée !';
      } catch (error) {
        console.error('Error while sending answers', error);
        this.isError = true;
        this.message = "Une erreur s'est produite !";
      } finally {
        this.isSendingAnswers = false;
      }
    },
    closeAlert() {
      this.message = '';
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.flex-container > div {
  margin-right: 10px;
}
.question-container {
  flex: 1 1 auto;
}
</style>
