<!-- Text input for TEXT questions -->

<template>
  <div class="form-group">
    <span class="title">
      {{ question }}
    </span>
    <textarea class="form-control" v-model="answer" placeholder="..." />
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { Question } from '@/constants';

export default defineComponent({
  name: 'TextField',
  props: {
    modelValue: { type: String, required: true },
    question: { type: String, required: true },
  },
  emits: ['update:modelValue'],
  computed: {
    answer: {
      get(): string {
        return this.modelValue;
      },
      set(value: string) {
        this.$emit('update:modelValue', value);
      },
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';
</style>
