<template>
  <div class="">
    <h1>Regarde notre vidéo</h1>

    <div class="row">
      <conference-item
        v-for="conference in conferences"
        v-bind:title="conference.title"
        v-bind:key="conference"
      >
      </conference-item>
    </div>
  </div>
</template>

<script lang="ts">
import ConferenceItem from '@/components/documents/ConferenceItem';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Conference',
  components: {
    ConferenceItem,
  },
  data() {
    return {
      conferences: [
        {
          title: 'conference 01',
          theme: 1,
        },
        {
          title: 'conference 02',
          theme: 1,
        },
        {
          title: 'Une très bonne vidéo avec un titre long',
          theme: 2,
        },
        {
          title: 'Une très bonne vidéo',
          theme: 2,
        },
      ],
    };
  },
});
</script>
