<template>
  <div class="wrap-404">
    <div class="animation-404" data-tilt>
      <div class="fire-404">
        <div
          v-for="i in Array.from({ length: 40 })"
          v-bind:key="i"
          class="particle-404"
        ></div>
      </div>
    </div>
    <div style="text-align: center">
      <h1>Oups !<br />Il semblerait que cette page n'existe pas !</h1>
      <p>Regardons le feu de camp brûler...</p>
      <router-link :to="HOME" class="btn btn-primary">
        ... ou retournons sur la page d'accueil !
      </router-link>
    </div>
  </div>
</template>
<script lang="ts">
import { Routes } from '@/router';
import { defineComponent } from '@vue/runtime-core';

export default defineComponent({
  name: 'Error404',

  data() {
    return {
      HOME: { name: Routes.THEME_CHOICE },
    };
  },
});
</script>

<style lang="scss">
@import '@/assets/styles.scss';

.wrap-404 {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 1rem 1rem 1rem;
}

.animation-404 {
  width: 350px;
  flex-shrink: 1;
}

$fireColor: rgb(255, 80, 0);
$fireColorT: rgba(255, 80, 0, 0);
$dur: 1s;
$blur: 0.02em;
$fireRad: 3em;
$parts: 50;
$partSize: 5em;

.fire-404 {
  font-size: 24px;
  filter: blur($blur);
  -webkit-filter: blur($blur);
  margin: 10px auto 0 auto;
  position: relative;
  width: 10em;
  height: 12em;
}
@keyframes rise-404 {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10em) scale(0);
  }
}
.particle-404 {
  animation: rise-404 $dur ease-in infinite;
  background-image: radial-gradient($fireColor 20%, $fireColorT 70%);
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: $partSize;
  height: $partSize;
  // spread particles out in time and x-position to get desired effect
  @for $p from 1 through $parts {
    &:nth-of-type(#{$p}) {
      animation-delay: $dur * random();
      left: calc((100% - #{$partSize}) * #{($p - 1) / $parts});
    }
  }
}
</style>
