<template>
  <div class="container">
    <h1>{{ theme.name }}</h1>
    <div class="">
      <h2 class="text-align-left">
        <i class="sgdf-picto text-red sgdf-picto-signesCommuns-FeuDeCamp"></i>

        Participer au feu de camp
        <i class="sgdf-picto text-red sgdf-picto-signesCommuns-FeuDeCamp"></i>
      </h2>
      <h3 class="text-align-right">{{ theme.date }}</h3>

      <!-- Warnings -->
      <div class="alert alert-danger" role="alert" v-if="!hasSubscribedToForum">
        Tu n'es pas inscrit à ce feu de camp ! Tu peux néanmoins te rendre sur
        la
        <router-link :to="THEME">page de la thématique</router-link> pour voir
        les différents contenus et envoyer tes aspirations.
      </div>
      <div
        class="alert alert-warning"
        role="alert"
        v-if="!isIndivudal && hasSubscribedToForum"
      >
        <p class="mb-1">
          Les feux de camp ne sont pas accessibles aux unités !
        </p>
        <button class="btn btn-light" @click="changeToIndividual()">
          Changer mon type de participation en "Personnel"
        </button>
        <button class="btn btn-primary" @click="redirectToTheme()">
          Revenir à la liste des thématiques
        </button>
      </div>

      <!-- Visio -->
      <div v-if="isForumEnabled" class="mb-3">
        <button class="btn btn-info connexion-btn btn-lg btn-block">
          <a :href="forumUrl"
            ><div
              class="text-white d-flex align-items-center justify-content-center"
            >
              <h2 class="text-white mr-2">
                {{
                  forumUrl
                    ? 'Me connecter sur Zoom'
                    : 'Lien de la visio à venir prochainement'
                }}
              </h2>
              <span class="badge badge-pill badge-light custom-badge">
                <img
                  class="icon"
                  src="@/assets/icons/zoom.svg"
                  :alt="`Tu peux participer au feu de camp lié à la thématique sur Zoom ${theme.name}`"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Clique ici pour participer au feu de camp de cette thématique (sur Zoom)"
                />
              </span></div
          ></a>
        </button>
      </div>

      <!-- Déroulé de l'atelier -->

      <div class="alert alert-success" role="alert" v-if="hasSubscribedToForum">
        <a
          href="https://www.notion.so/Atelier-feu-de-camp-d-marche-PO-5efc8def98194bed94a0147327df954d"
          target="_blank"
        >
          <span class="font-weight-bold"
            >Retrouve le déroulé de l'atelier feu de camp ici</span
          >
        </a>
      </div>

      <!-- View choice -->
      <nav v-if="isForumEnabled" class="mb-4">
        <p class="alert alert-warning">
          Si tu es le <b>secrétaire de ton groupe</b> de feu de camp, clique sur
          "Amender les aspirations avec mon équipe de feu camp" afin d'accéder à
          la partie de réflexion sur l'aspiration proposée.
        </p>
        <div class="nav nav-tabs" id="nav-aspiration-tab" role="tablist">
          <a
            class="nav-item nav-link active"
            id="nav-aspiration-read-tab"
            data-toggle="tab"
            href="#aspiration-read"
            role="tab"
            aria-controls="aspiration-read"
            aria-selected="true"
            >Voir l'ensemble des aspirations amendées</a
          >

          <a
            class="nav-item nav-link"
            id="nav-aspiration-edit-tab"
            data-toggle="tab"
            href="#aspiration-edit"
            role="tab"
            aria-controls="aspiration-edit"
            aria-selected="false"
            >Amender les aspirations avec mon équipe de feu de camp</a
          >
        </div>
      </nav>
      <Spinner :activated="loading" />

      <div class="tab-content mb-2" id="aspiration-tabContent">
        <div
          class="tab-pane fade"
          id="aspiration-edit"
          role="tabpanel"
          aria-labelledby="nav-aspiration-edit-tab"
        >
          <!-- Answer view -->

          <div
            v-if="isForumEnabled && !loading"
            class="container aspiration-container card"
          >
            <h2>Envoie l'aspiration de ton groupe</h2>
            <div class="alert alert-danger">
              Attention, seule une remontée par groupe est possible ! Ne remplis
              les cases suivantes que si tu es
              <b>secrétaire de ton groupe</b> de feu de camp.
            </div>
            <button
              class="btn btn-info mb-2 align-self-end"
              @click="resetValues"
            >
              <i class="fas fa-undo mr-2"></i>
              {{
                hasBeenSaved
                  ? 'Revenir à la dernière version sauvegardée'
                  : 'Réinitialiser les valeurs'
              }}
            </button>
            <Form v-slot="{ handleSubmit, errors }" :validation-schema="schema">
              <form @submit="handleSubmit($event, onSubmit)">
                <div class="form-group">
                  <label for="groupName"
                    >Écris le nom de ton groupe de feu de camp</label
                  >
                  <Field
                    @input="saveInput"
                    type="text"
                    name="groupName"
                    v-model="values.groupName"
                    id="groupName"
                    class="form-control"
                    placeholder="Nom de mon groupe"
                    :class="{ 'is-invalid': errors.groupName }"
                  />
                  <div class="invalid-feedback mb-2">
                    {{ errors.groupName }}
                  </div>
                </div>

                <div class="alert alert-info" role="alert">
                  <h4 class="alert-heading">Retour sur les aspirations</h4>
                  <p>
                    Après avoir discuté de l'aspiration proposée à votre groupe
                    de feu de camp, le secrétaire peut maintenant choisir dans
                    la liste déroulante de gauche l'aspiration qui vous était
                    assignée. Si vous avez décidé d'amender cette aspiration,
                    vous pouvez noter dans la case située en face, votre
                    aspiration amendée en respectant la structure suivante :
                    <em>À la fin du plan d'orientation, le mouvement...</em>
                  </p>
                </div>

                <div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <Field
                        @input="saveInput"
                        class="custom-select"
                        name="aspirationId"
                        v-model="values.aspirationId"
                        as="select"
                        :class="{ 'is-invalid': errors.aspirationId }"
                      >
                        Notre Aspiration
                        <option value="" selected>
                          -- Notre Aspiration de base --
                        </option>
                        <option
                          v-for="aspiration in forumAspirations"
                          v-bind:key="aspiration.id"
                          :value="aspiration.id"
                        >
                          {{ aspiration.title }}
                        </option>
                      </Field>
                      <div class="invalid-feedback mb-2">
                        {{ errors.aspirationId }}
                      </div>
                    </li>
                  </ul>
                </div>

                <div>
                  <h3>
                    Par rapport à l’aspiration proposée, liste les éléments POUR
                    et CONTRE qui vous viennent à l’esprit.
                  </h3>
                  <div class="form-group col">
                    <label for="prosTextArea">Nos points POUR</label>
                    <Field
                      @input="saveInput"
                      as="textarea"
                      class="form-control"
                      id="prosTextArea"
                      name="prosArguments"
                      v-model="values.prosArguments"
                      rows="10"
                      placeholder="Vous pouvez noter ici votre prise de note."
                    ></Field>
                  </div>

                  <div class="form-group col">
                    <label for="consTextArea">Nos points CONTRE</label>
                    <Field
                      @input="saveInput"
                      as="textarea"
                      class="form-control"
                      id="consTextArea"
                      v-model="values.consArguments"
                      name="consArguments"
                      rows="10"
                      placeholder="Vous pouvez noter ici votre prise de note."
                    ></Field>
                  </div>
                </div>

                <div class="form-group">
                  <label for="aspirationRephrase"
                    >Notre aspiration reformulée</label
                  >
                  <Field
                    @input="saveInput"
                    as="textarea"
                    rows="3"
                    id="aspirationRephrase"
                    name="amendment"
                    v-model="values.amendment"
                    class="form-control"
                    placeholder="A la fin du plan d'orientation, le mouvement..."
                  />
                </div>

                <button
                  class="btn btn-success align-self-center mb-2"
                  type="submit"
                >
                  <h2 class="text-white">Sauvegarder</h2>
                </button>
              </form>
            </Form>
          </div>
        </div>

        <div
          class="tab-pane fade show active"
          id="aspiration-read"
          role="tabpanel"
          aria-labelledby="nav-aspiration-read-tab"
        >
          <!-- All aspirations view -->

          <div
            v-if="isForumEnabled"
            class="container aspiration-container card"
          >
            <h2>Les aspirations de notre Feu de Camp</h2>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                v-model="isAutoRefreshActivated"
                id="autoRefreshCheckBox"
              />
              <label class="form-check-label" for="autoRefreshCheckBox">
                Mettre à jour automatiquement
              </label>
            </div>
            <Spinner :activated="loading" />
            <span v-if="!loading && !forumAspirationAnswers.length"
              >Il n'y a pas encore d'aspiration proposée par les groupes du feu
              de camp.</span
            >
            <ul v-if="!loading" class="list-group list-group-flush">
              <li
                class="list-group-item"
                v-for="aspirationAnswer in forumAspirationAnswers"
                :key="aspirationAnswer.id"
              >
                {{ aspirationAnswer.amendment }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Aspiration modal -->
    <div
      class="modal fade"
      id="aspirationModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="aspirationModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="aspirationModalLabel">
              {{ modalConfig.title }}
            </h5>
            <button
              type="button"
              class="close"
              aria-label="Fermer"
              data-dismiss="modal"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <Spinner :activated="loading" />
            <p v-for="content in modalConfig.contents" v-bind:key="content">
              {{ content }}
            </p>
            <p v-if="modalConfig.precision" class="alert alert-warning">
              {{ modalConfig.precision }}
            </p>
          </div>
          <div class="modal-footer">
            <button
              id="aspirationModalOKButton"
              type="button"
              class="btn btn-success"
              @click="
                modalConfig.redirect ? modalConfig.redirect() : hideModal()
              "
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axiosClient from '@/service/axiosClient';
import { authStore } from '@/store/auth';
import {
  ParticipationType,
  sessionStore,
  VisibilityType,
} from '@/store/session';
import {
  ContentType,
  ForumAspiration,
  ForumAspirationAnswer,
  ForumAspirationAnswerAPI,
  Theme,
} from '@/constants';
import { AxiosResponse } from 'axios';
import { Content } from '@/constants';
import { defineComponent } from 'vue';
import router, { Routes } from '@/router';
import { RouteLocationRaw } from 'vue-router';
import { Form, Field } from 'vee-validate';
import * as Yup from 'yup';
import { createDebounce } from '@/service/debounce';
import Spinner from '@/components/globals/Spinner.vue';
import { isForumAspirationEnabled } from '@/service/featureActivation';
import $ from 'jquery';

interface FormValues {
  aspirationId: number | null;
  groupName: string;
  prosArguments: string;
  consArguments: string;
  amendment: string;
}

interface DataType {
  theme: Omit<Theme, 'id'>;
  loading: boolean;
  FIRECAMP: RouteLocationRaw;
  forumAspirations: ForumAspiration[];
  forumAspirationAnswers: ForumAspirationAnswer[];
  THEME: RouteLocationRaw;
  schema: any;
  values: FormValues;
  hasBeenSaved: boolean;
  isAutoRefreshActivated: boolean;
  isAutoRefreshOff: boolean;
  modalConfig: {
    title: string;
    contents: string[];
    precision?: string;
    redirect?: () => void;
  };
}

const initialValues = {
  aspirationId: null,
  groupName: '',
  prosArguments: '',
  consArguments: '',
  amendment: "A la fin du plan d'orientation, le mouvement",
};

export default defineComponent({
  name: 'FireCamp',
  components: { Form, Field, Spinner },
  props: {
    themeId: { type: Number, required: true },
  },
  data(): DataType {
    return {
      theme: {
        name: 'Chargement...',
        contents: [],
        forum: null,
        date: null,
        description: '',
      },
      forumAspirations: [],
      forumAspirationAnswers: [],
      loading: false,
      FIRECAMP: { name: Routes.FIRECAMP },
      THEME: { name: Routes.THEME, params: { themeId: this.themeId } },
      schema: Yup.object().shape({
        aspirationId: Yup.number()
          .required('Merci de choisir une aspiration dans la liste')
          .typeError('Merci de choisir une aspiration dans la liste'),
        groupName: Yup.string().required(
          'Merci de renseigner le nom de ton groupe',
        ),
      }),
      values: initialValues,
      hasBeenSaved: false,
      isAutoRefreshActivated: true,
      isAutoRefreshOff: false,
      modalConfig: { title: 'Chargement...', contents: [] },
    };
  },

  async created() {
    try {
      const savedAspirations = localStorage.getItem('aspirations');
      if (savedAspirations !== null) {
        const parsedAspirations = JSON.parse(savedAspirations);
        this.values =
          parsedAspirations.values &&
          parsedAspirations?.themeId === this.themeId
            ? parsedAspirations.values
            : initialValues;
      }
    } catch (error) {
      console.error("Corrupted localStorage 'aspirations'");
      localStorage.removeItem('aspirations');
      this.values = initialValues;
    }
    await this.fetchAspirations();
    this.autoRefreshAnswers(6000, 2 * 60 * 60 * 1000);
  },

  watch: {
    // whenever isForumEnabled changes, reload aspirations
    async isForumEnabled() {
      this.loading = true;
      if (!this.isForumEnabled) {
        console.warn('forum is not enabled: resetting aspirations...');
        this.forumAspirations = [];
        this.forumAspirationAnswers = [];
      }
      try {
        await this.fetchAspirations();
      } catch (error) {
        console.error('Error while retrieving aspirations', error);
        this.forumAspirations = [];
      } finally {
        this.loading = false;
      }
    },
  },

  computed: {
    forumUrl(): string {
      return (
        authStore.getUserForums().find(forum => forum.theme === this.themeId)
          ?.url ?? ''
      );
    },
    hasSubscribedToForum(): boolean {
      return authStore.hasSubscribedToForum(this.themeId);
    },
    isIndivudal(): boolean {
      return (
        sessionStore.getParticipationType() === ParticipationType.INDIVIDUAL
      );
    },
    isForumEnabled(): boolean {
      return (
        this.isIndivudal &&
        this.hasSubscribedToForum &&
        isForumAspirationEnabled()
      );
    },
    contents(): Content[] {
      return this.theme.contents.filter(
        content => content.visibility === VisibilityType.FORUM,
      );
    },
    aspirationContents(): Content[] {
      return this.contents.filter(
        content => content.content_type === ContentType.ASPIRATION,
      );
    },
  },

  beforeUnmount() {
    this.isAutoRefreshOff = true;
  },

  methods: {
    isAnswerView(): boolean {
      return $('#nav-aspiration-edit-tab.active').length === 1;
    },
    showModal() {
      // @ts-ignore
      $('#aspirationModal').modal('show');
      // @ts-ignore
      $('#aspirationModal').on('shown.bs.modal', function (e) {
        $('#aspirationModalOKButton').trigger('focus');
      });
    },
    hideModal() {
      // @ts-ignore
      $('#aspirationModal').modal('hide');
      this.modalConfig = {
        title: 'Chargement...',
        contents: [],
        precision: undefined,
        redirect: undefined,
      };
    },
    changeToIndividual() {
      return sessionStore.setParticipation(ParticipationType.INDIVIDUAL);
    },
    redirectToTheme() {
      return router.push({ name: Routes.THEME_CHOICE });
    },
    async resetValues() {
      localStorage.removeItem('aspirations');
      if (this.hasBeenSaved) {
        await this.fetchAspirationOwnAnswers();
      } else {
        this.values = initialValues;
      }
    },

    async fetchAspirationAnswers(): Promise<void> {
      if (!this.isForumEnabled) {
        return;
      }
      let forumAspirationAnswersResponse: AxiosResponse<
        ForumAspirationAnswerAPI[]
      >;
      try {
        forumAspirationAnswersResponse = await axiosClient.get<
          ForumAspirationAnswerAPI[]
        >(`/api/aspiration-answers/?theme_id=${this.themeId}`);
      } catch (error) {
        console.error('aspiration answers fetch failed', error);
        return;
      }
      this.forumAspirationAnswers = forumAspirationAnswersResponse.data.map(
        this.deserializeForumAspirationAnswer,
      );
    },

    async fetchAspirationOwnAnswers(): Promise<void> {
      if (!this.isForumEnabled) {
        return;
      }
      let forumAspirationOwnAnswerResponse: AxiosResponse<
        ForumAspirationAnswerAPI[]
      >;
      try {
        forumAspirationOwnAnswerResponse = await axiosClient.get<
          ForumAspirationAnswerAPI[]
        >(`/api/aspiration-answers/me/?theme_id=${this.themeId}`);
      } catch (error) {
        console.error('aspiration own answers fetch failed', error);
        return;
      }
      if (forumAspirationOwnAnswerResponse.data.length > 0) {
        this.hasBeenSaved = true;
        const initialValues =
          forumAspirationOwnAnswerResponse.data[
            forumAspirationOwnAnswerResponse.data.length - 1
          ];
        if (!localStorage.getItem('aspirations')) {
          this.values = this.deserializeForumAspirationAnswer(initialValues);
          this.saveInput();
        }
      } else {
        this.hasBeenSaved = false;
      }
    },

    autoRefreshAnswers(refreshDelay: number, maxDuration: number) {
      if (maxDuration <= 0) {
        // end of autorefresh
        return;
      }
      setTimeout(async () => {
        if (this.isAutoRefreshOff) {
          return;
        }
        if (this.isAnswerView() || !this.isAutoRefreshActivated) {
          return this.autoRefreshAnswers(
            refreshDelay,
            maxDuration - refreshDelay,
          );
        }
        try {
          await this.fetchAspirationAnswers();
        } catch (error) {
          console.error('Stopping auto-refresh due to error', error);
          return;
        }
        return this.autoRefreshAnswers(
          refreshDelay,
          maxDuration - refreshDelay,
        );
      }, refreshDelay);
    },

    async fetchAspirations() {
      if (!this.isForumEnabled) {
        return;
      }
      this.loading = true;
      let themeResponse: AxiosResponse<Theme>;
      let forumAspirationsResponse: AxiosResponse<ForumAspiration[]>;
      try {
        [themeResponse, forumAspirationsResponse] = await Promise.all([
          axiosClient.get<Theme>(`/api/themes/${this.themeId}`),
          axiosClient.get<ForumAspiration[]>(
            `/api/aspirations/?theme_id=${this.themeId}`,
          ),
          this.fetchAspirationAnswers(),
          this.fetchAspirationOwnAnswers(),
        ]);
      } catch (error) {
        this.forumAspirations = [];
        return console.error('aspirations fetch failed', error);
      } finally {
        this.loading = false;
      }
      this.theme = themeResponse.data;
      this.forumAspirations = forumAspirationsResponse.data;
    },

    async onSubmit(values: FormValues) {
      const serializedData = {
        aspiration_id: values.aspirationId,
        group_name: values.groupName,
        pros_arguments: values.prosArguments,
        cons_arguments: values.consArguments,
        amendment: values.amendment,
      };
      this.loading = true;
      this.showModal();
      try {
        await axiosClient({
          url: '/api/aspiration-answers/me/',
          method: 'POST',
          data: serializedData,
        });
      } catch (error) {
        this.modalConfig = {
          title: 'Une erreur est survenue...',
          contents: [
            "Une erreur s'est produite lors de l'enregistrement de l'aspiration",
            "Vérifie que tous les champs sont bien remplis ! Si cela ne fonctionne pas, demande à une autre personne de compléter l'aspiration",
            'Tu peux également contacter le support en cliquant sur "Contacter support"',
          ],
          precision: `Raison technique : ${JSON.stringify(
            error?.response?.data,
          )}`,
        };
        return;
      } finally {
        this.loading = false;
      }
      this.hasBeenSaved = true;
      this.modalConfig = {
        title: 'Enregistrement effecuté !',
        contents: [
          'Notre aspiration : ' + values.amendment,
          'Votre aspiration a bien été sauvegardée. En cas de modification, tu peux toujours la sauvegarder à nouveau.',
          'Vous pouvez continuer de discuter ensemble ou rejoindre la salle principale de la visio.',
        ],
        redirect: () => {
          this.hideModal();
        },
      };
    },
    deserializeForumAspirationAnswer(
      apiData: ForumAspirationAnswerAPI,
    ): ForumAspirationAnswer {
      return {
        groupName: apiData.group_name,
        aspirationId: apiData.aspiration_id,
        prosArguments: apiData.pros_arguments,
        consArguments: apiData.cons_arguments,
        amendment: apiData.amendment,
      };
    },
    saveInput() {
      // Save input to localStorage every 1 second
      createDebounce()(() => {
        localStorage.setItem(
          'aspirations',
          JSON.stringify({ themeId: this.themeId, values: this.values }),
        );
      }, 1000);
    },
  },
});
</script>
<style lang="scss" scoped>
@import '@/assets/styles.scss';

.icon {
  width: 30px;
  height: 30px;
}

.aspiration-container {
  margin-top: 1rem;
}

.custom-select {
  height: fit-content;
  white-space: normal;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: $primary;
  color: white;
}
</style>
