<template>
  <div class="wrap-login">
    <div class="login-pic" data-tilt>
      <h1>Bienvenue sur le site du Plan d'Orientation "MONPO2022"</h1>
      <div class="container-picture">
        <img src="@/assets/inspire-timeline.png" alt="" />
        <a
          href="https://www.sgdf.fr/vie-democratique/en-route-vers-un-nouveau-plan-d-orientation"
          title="En route vers un nouveau plan d'orientation - Site des Scouts et Guides de France"
          target="_blank"
        >
          <span class="btn btn-light mt-1 mb-2">
            Plus de détails sur la démarche
          </span>
        </a>
      </div>
    </div>
    <div class="card login-card">
      <div class="card-body text-primary">
        <h1 class="card-title">Connexion</h1>
        <p class="card-text">Entre tes identifiants pour te connecter.</p>
        <div v-if="isAppDisabled" class="alert alert-danger">
          L'inscription au site est désactivée pour le moment. Rendez-vous le 6
          mai 2021 pour l'ouverture du site !
        </div>
        <div v-else class="alert alert-info">
          Avant de te connecter, il faut
          <router-link :to="REGISTER" class="text-white font-weight-bold"
            >créer un compte</router-link
          >. <i class="fas fa-exclamation-circle"></i> Ce site
          <b>n'utilise pas les identifants de l'intranet</b>.
        </div>
        <form name="form" @submit.prevent="handleLogin">
          <div class="form-group">
            <label for="username">E-mail</label>
            <input
              v-model="user.username"
              type="text"
              class="form-control"
              id="username"
              name="username"
            />
            <label for="password">Mot de passe</label>
            <input
              v-model="user.password"
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary mb-2"
              :disabled="isLoginButtonDisabled"
            >
              <span
                v-show="loading"
                class="spinner-border spinner-border-sm"
              ></span>
              <span>Se connecter</span>
            </button>
            <p v-if="!isAppDisabled">
              <a :href="resetPasswordUrl">Mot de passe oublié ?</a>
            </p>
          </div>
          <div class="form-group">
            <div
              v-if="message"
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              <span>
                {{ message }}
              </span>
              <button
                type="button"
                class="close"
                aria-label="Fermer l'alerte"
                @click="closeAlert"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </form>
        <div v-if="!isAppDisabled">
          <h2>Pas encore de compte ?</h2>
          <router-link :to="REGISTER" class="btn btn-primary"
            >S'inscrire</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { authStore } from '@/store/auth';
import { loginUser } from '@/service/auth';

import { defineComponent } from 'vue';
import axiosClient from '@/service/axiosClient';
import { UserData, UserExtraRawData } from '@/constants';
import { Routes } from '@/router';
import { sessionStore } from '@/store/session';
import { AxiosResponse } from 'axios';
import { isRegistrationEnabled } from '@/service/featureActivation';

interface LoginData {
  message: string;
  user: { username: string; password: string };
  loading: boolean;
  REGISTER: { name: Routes };
  resetPasswordUrl: string;
}

export default defineComponent({
  name: 'LoginComponent',

  data() {
    return {
      message: '',
      user: { username: '', password: '' },
      loading: false,
      REGISTER: { name: Routes.REGISTER },
      resetPasswordUrl: `${
        process.env?.VUE_APP_API_URL as string
      }/accounts/password_reset`,
    } as LoginData;
  },

  computed: {
    isLoginButtonDisabled(): boolean {
      return this.loading || !this.user.username || !this.user.password;
    },
    isAppDisabled() {
      return !isRegistrationEnabled();
    },
  },

  created() {
    const nextUrl = this.$route.params.nextUrl;
    if (
      authStore.isLoggedIn() &&
      typeof nextUrl === 'string' &&
      nextUrl !== 'undefined'
    ) {
      this.$router.push(nextUrl);
    }
  },

  methods: {
    redirect() {
      const nextUrl = this.$route.params.nextUrl;
      if (
        typeof nextUrl === 'string' &&
        nextUrl !== 'undefined' &&
        sessionStore.isParticipationValid()
      ) {
        this.$router.push(nextUrl);
      } else {
        this.$router.push({
          name: Routes.PARTICIPATION_CHOICE,
          params: { nextUrl },
        });
      }
    },

    async handleLogin() {
      this.loading = true;
      try {
        await loginUser(this.user.username, this.user.password);
      } catch (error) {
        this.loading = false;
        if (error?.response?.status === 401) {
          this.message = 'Identifiants incorrects !';
          return;
        }
        this.message = `Une erreur est survenue ! (Code d'erreur : LOG-${
          error?.response?.status ?? 'inconnu'
        })`;

        return;
      }
      let userInfoResponse: AxiosResponse<UserData & UserExtraRawData>;
      try {
        userInfoResponse = await axiosClient.get<UserData & UserExtraRawData>(
          '/auth/users/me/',
        );
      } catch (error) {
        this.loading = false;
        this.message = `Une erreur est survenue ! (Code d'erreur : API-${
          error?.response?.status ?? 'inconnu'
        }`;
        authStore.logout();
        return;
      }
      authStore.setUserForums(userInfoResponse.data.forums);
      const {
        age,
        territory,
        group,
        missions,
        seniority,
        group_typology: groupTypology,
      } = userInfoResponse.data;
      authStore.setUserExtraData({
        age,
        territory,
        group,
        missions,
        seniority,
        groupTypology,
      });

      this.loading = false;
      this.redirect();
    },

    closeAlert() {
      this.message = '';
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

label {
  text-align: left;
  font-size: 0.8rem;
  font-weight: bold;
  width: 100%;
}

input {
  margin-bottom: 10px;
}

.wrap-login {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem 1rem 1rem 1rem;
}

.login-pic {
  flex: 0 1 auto;
  margin-bottom: 10px;
}

.container-picture {
  display: flex;
  flex-direction: column;
}

.login-pic img {
  max-width: 100%;
}

.login-card {
  flex: 0 1 400px;
}
</style>
