<template>
  <div class="container">
    <h1>Selectionne ton unité</h1>
    <div class="container choice-container">
      <button class="btn btn-success choice-btn" @click="setFarfadetUnit">
        <h2 class="text-white">Farfadets</h2>
      </button>
      <button class="btn btn-warning choice-btn" @click="setLouveteauxUnit">
        <h2 class="text-white">Louveteaux-Jeannettes</h2>
      </button>
      <button class="btn btn-info choice-btn" @click="setScoutUnit">
        <h2 class="text-white">Scouts-Guides</h2>
      </button>
      <button class="btn btn-danger choice-btn" @click="setPionnierUnit">
        <h2 class="text-white">Pionniers-Caravelles</h2>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import router, { Routes } from '@/router';
import { sessionStore, ParticipationUnit } from '@/store/session';

export default defineComponent({
  name: 'MyUnit',
  methods: {
    redirectToNextPage() {
      const nextUrl = this.$route.params.nextUrl;
      if (typeof nextUrl === 'string' && nextUrl !== 'undefined') {
        router.push(nextUrl);
      } else {
        router.push({ name: Routes.THEME_CHOICE });
      }
    },
    setFarfadetUnit() {
      sessionStore.setUnit(ParticipationUnit.FARFA);
      this.redirectToNextPage();
    },
    setLouveteauxUnit() {
      sessionStore.setUnit(ParticipationUnit.LJ);
      this.redirectToNextPage();
    },
    setScoutUnit() {
      sessionStore.setUnit(ParticipationUnit.SG);
      this.redirectToNextPage();
    },
    setPionnierUnit() {
      sessionStore.setUnit(ParticipationUnit.PC);
      this.redirectToNextPage();
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

.choice-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.choice-btn {
  padding: 50px 20px;
  margin-bottom: 10px;
  width: inherit;
}
</style>
