<template>
  <div class="home">
    <img
      alt="Scouts et Guides de France"
      src="@/assets/logos/SGDF_logo_RVB_horizontal.png"
      width="300"
    />
    <div class="container choice-container">
      <button
        class="btn btn-primary choice-btn"
        @click="setIndividualParticipation"
      >
        <h2 class="text-white">Je participe à titre individuel</h2>
        <h3 class="text-white">Adultes à partir de 16 ans</h3>
      </button>
      <button class="btn btn-primary choice-btn" @click="setUnitParticipation">
        <h2 class="text-white">Je participe avec mon unité</h2>
        <h3 class="text-white">Je suis chef ou cheftaine</h3>
      </button>
      <div class="alert alert-success font-weight-bold">
        Pour les chefs et cheftaines, vous pouvez participer à titre individuel
        d’une part et participer avec votre unité d’autre part.
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { sessionStore, ParticipationType } from '@/store/session';
import router, { Routes } from '@/router';

export default defineComponent({
  name: 'Home',

  methods: {
    redirectToThemePage() {
      const nextUrl = this.$route.params.nextUrl;
      if (typeof nextUrl === 'string' && nextUrl !== 'undefined') {
        this.$router.push(nextUrl);
      } else {
        router.push({ name: Routes.THEME_CHOICE });
      }
    },
    redirectToUnitChoicePage() {
      const nextUrl = this.$route.params.nextUrl;
      router.push({
        name: Routes.MY_UNIT,
        ...(typeof nextUrl === 'string' && nextUrl !== 'undefined'
          ? { params: { nextUrl } }
          : {}),
      });
    },
    setIndividualParticipation() {
      sessionStore.setParticipation(ParticipationType.INDIVIDUAL);
      this.redirectToThemePage();
    },
    setUnitParticipation() {
      sessionStore.setParticipation(ParticipationType.UNIT);
      this.redirectToUnitChoicePage();
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

.choice-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.choice-btn {
  padding: 50px 20px;
  margin-bottom: 10px;
}
</style>
