<template>
  <div>
    <ValidationObserver>
      <Form
        @submit="onSubmit"
        :validation-schema="schema"
        v-slot="{ errors }"
        class="container"
      >
        <h1>Crée ton compte</h1>
        <div v-if="isAppDisabled" class="alert alert-danger">
          L'inscription au site est désactivée pour le moment.
        </div>
        <div class="informations">
          <h2>Mes informations</h2>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="userFirstName"
                >Prénom <span class="text-red">*</span></label
              >
              <Field
                id="userFirstName"
                name="userFirstName"
                type="text"
                class="form-control"
                aria-placeholder="Prénom"
                :class="{ 'is-invalid': errors.userFirstName }"
              />
              <div class="invalid-feedback">{{ errors.userFirstName }}</div>
            </div>
            <div class="form-group col-md-3">
              <label for="userLastName"
                >Nom <span class="text-red">*</span></label
              >
              <Field
                id="userLastName"
                name="userLastName"
                type="text"
                class="form-control"
                :class="{ 'is-invalid': errors.userLastName }"
              />
              <div class="invalid-feedback">{{ errors.userLastName }}</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="userAge">Age <span class="text-red">*</span></label>
              <Field
                id="userAge"
                type="number"
                class="form-control"
                name="userAge"
                placeholder="Age"
                :class="{ 'is-invalid': errors.userAge }"
              />
              <div class="invalid-feedback">{{ errors.userAge }}</div>
            </div>
            <div class="form-group col-md-3">
              <label for="userEmail"
                >Email <span class="text-red">*</span></label
              >
              <Field
                id="userEmail"
                name="userEmail"
                type="email"
                class="form-control"
                :class="{ 'is-invalid': errors.userEmail }"
              />
              <div class="invalid-feedback">{{ errors.userEmail }}</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="userPassword"
                >Mot de passe <span class="text-red">*</span></label
              >

              <Field
                id="userPassword"
                name="userPassword"
                type="password"
                class="form-control"
                :class="{ 'is-invalid': errors.userPassword }"
              />
              <div class="invalid-feedback">{{ errors.userPassword }}</div>
            </div>
            <div class="form-group col-md-3">
              <label for="confirmPassword"
                >Répétez votre mot de passe
                <span class="text-red">*</span></label
              >

              <Field
                id="confirmPassword"
                name="confirmPassword"
                type="password"
                class="form-control"
                :class="{ 'is-invalid': errors.confirmPassword }"
              />
              <div class="invalid-feedback">{{ errors.confirmPassword }}</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="userTerritory">Territoire / Equipe Nationale</label>

              <Field
                id="userTerritory"
                class="custom-select"
                v-model="selectedTerritoryIndex"
                name="userTerritory"
                as="select"
                :class="{ 'is-invalid': errors.userTerritory }"
                @change="selectTerritory"
              >
                <option value="" selected="selected">
                  --Selectionne ton Territoire--
                </option>
                <option
                  v-for="(structure, index) in structures"
                  :value="index"
                  v-bind:key="structure.label"
                >
                  {{ structure.label }}
                </option>
              </Field>
              <div class="invalid-feedback">{{ errors.userTerritory }}</div>
            </div>
            <div class="form-group col-md-3">
              <label for="userGroup">Structure</label>

              <Field
                id="userGroup"
                class="custom-select"
                name="userGroup"
                v-model="selectedGroupIndex"
                as="select"
                :class="{ 'is-invalid': errors.userGroup }"
              >
                <option value="" selected="selected">
                  --Selectionne ta Structure--
                </option>
                <option
                  v-for="(group, index) in groupOptions"
                  :value="index"
                  v-bind:key="group"
                >
                  {{ group }}
                </option>
              </Field>
              <div class="invalid-feedback">{{ errors.userGroup }}</div>
            </div>

            <div class="form-group col-md-3">
              <label for="userMission"
                >Mission <span class="text-red">*</span></label
              >
              <Field
                id="userMission"
                class="custom-select"
                name="userMission"
                as="select"
                :class="{ 'is-invalid': errors.userMission }"
              >
                <option value="" selected="selected">
                  --Selectionne ta mission--
                </option>
                <option
                  v-for="mission in missions"
                  :value="mission"
                  v-bind:key="mission"
                >
                  {{ mission }}
                </option>
              </Field>
              <div class="invalid-feedback">{{ errors.userMission }}</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="userAnciennety"
                >Nombre d'années d'ancienneté dans le mouvement
                (facultatif)</label
              >

              <Field
                id="userAnciennety"
                class="custom-select"
                name="userAnciennety"
                as="select"
                :class="{ 'is-invalid': errors.userAnciennety }"
              >
                <option value="" selected="selected"></option>
                <option value="1">1ère année</option>
                <option value="1-2">1 à 2 ans</option>
                <option value="3-5">3 à 5 ans</option>
                <option value="6-10">6 à 10 ans</option>
                <option value="11-15">11 à 15 ans</option>
                <option value="16-20">16 à 20 ans</option>
                <option value="21-30">21 à 30 ans</option>
                <option value="31-50">31 à 50 ans</option>
                <option value="50+">Plus de 50 ans</option>
              </Field>

              <div class="invalid-feedback">{{ errors.userAnciennety }}</div>
            </div>
            <div class="form-group col-md-3">
              <label for="userGroupTypology"
                >Typologie du groupe (facultatif)</label
              >

              <Field
                id="userGroupTypology"
                class="custom-select"
                as="select"
                name="userGroupTypology"
                :class="{ 'is-invalid': errors.userGroupTypology }"
              >
                <option value="" selected="selected"></option>
                <option value="urbain">Groupe urbain</option>
                <option value="periurbain">Groupe péri urbain</option>
                <option value="rural">Groupe rural</option>
                <option value="national">National</option>
                <option value="territoire">Territoire</option>
              </Field>
              <div class="invalid-feedback">
                {{ errors.userGroupTypology }}
              </div>
            </div>
          </div>
        </div>
        <h2>
          Choisis la ou les thématiques auxquelles tu souhaites t'inscrire
        </h2>
        <div class="themes">
          <div class="col-md-12 alert alert-warning themes-choices-description">
            <p>
              Participer à une thématique te permettra de recevoir le lien du
              feu de camp afin de participer aux débats ! Tu peux choisir entre
              0 et 3 thématiques.
            </p>
            <p>
              L’inscription à une thématique n’est pas obligatoire pour avoir
              accès aux contenus
            </p>
            <p>
              Tu auras accès à la documentation et aux podcasts des autres
              thématiques sans inscription.
            </p>
            <p>ATTENTION: LE CHOIX DES THEMATIQUES EST DÉFINITIF.</p>
            <p>
              Pour choisir, tu peux lire la
              <router-link :to="THEME_PRESENTATION"
                >présentation des thématiques</router-link
              >.
            </p>
          </div>
          <div class="btn-group themes-choices-content">
            <div
              class="btn-group-toggle custom-toggle"
              v-for="theme in themes"
              v-bind:key="theme.id"
              :class="{ 'is-invalid': errors.checkedThemes }"
            >
              <Field
                type="checkbox"
                v-model="checkedThemes"
                name="checkedThemes"
                :value="theme.id"
                :id="`checkbox-themechoice-${theme.id}`"
              />
              <label
                :for="`checkbox-themechoice-${theme.id}`"
                class="btn btn-light custom-label"
                :class="{ 'is-invalid': errors.checkedThemes }"
                data-toggle="tooltip"
                data-placement="top"
                :title="theme.description"
              >
                <h5>{{ theme.name }}</h5>
                <span v-if="theme.date"
                  >Date du feu de camp: {{ theme.date }}</span
                >
              </label>
            </div>
            <div class="invalid-feedback mb-2">
              {{ errors.checkedThemes }}
            </div>
          </div>
        </div>
        <div class="alert alert-dark">
          <p>
            Les informations recueillies sur ce formulaire sont enregistrées
            dans un fichier informatisé par les Scouts et Guides de France pour
            l’animation de la démarche plan d’orientation en mai 2021. La base
            légale du traitement est le consentement des personnes concernées.
            Les données collectées ne seront pas communiquées : elles servent
            uniquement à vérifier que ce sont bien des membres SGDF qui
            participent à la démarche.
          </p>
          <p>
            Les données seront conservées pour la durée de la démarche du Plan
            d'Orientation et pour un maximum de 6 mois.
          </p>
          <p>
            Les données relatives à la mission, la structure d'appartenance, ses
            caractéristiques et l'âge seront anonymisés et utilisés dans un but
            statistique.
          </p>
          <p>
            Vous pouvez accéder aux données vous concernant, les rectifier,
            demander leur effacement ou exercer votre droit à la limitation du
            traitement de vos données. Consultez le site
            <a href="https://cnil.fr">cnil.fr</a> pour plus d’informations sur
            vos droits.
          </p>
          <p>
            Pour exercer ces droits ou pour toute question sur le traitement de
            vos données dans ce dispositif, vous pouvez contacter :
            <a href="mailto:dpo@sgdf.fr">dpo@sgdf.fr</a>
            Si vous estimez, après nous avoir contactés, que vos droits «
            informatique et libertés » ne sont pas respectés, vous pouvez
            adresser une réclamation à la CNIL.
          </p>
          <div class="form-check">
            <Field
              id="dataPolicy"
              type="checkbox"
              class="form-check-input"
              name="rgpd"
              :value="false"
              :class="{ 'is-invalid': errors.rgpd }"
            >
            </Field>
            <label for="dataPolicy">
              En m'inscrivant sur cette plateforme, je certifie avoir pris note
              de la démarche sur l'utilisation des données (ci-dessus).</label
            >
            <div class="invalid-feedback mb-2">
              {{ errors.rgpd }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            <span
              v-show="loading"
              class="spinner-border spinner-border-sm"
            ></span
            ><span>S'inscrire</span>
          </button>
        </div>
      </Form>
    </ValidationObserver>

    <!-- Registration modal -->
    <div
      class="modal fade"
      id="registrationModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="registrationModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registrationModalLabel">
              {{ modalConfig.title }}
            </h5>
            <button
              type="button"
              class="close"
              aria-label="Fermer"
              data-dismiss="modal"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <Spinner :activated="loading" />
            <p v-for="content in modalConfig.contents" v-bind:key="content">
              {{ content }}
            </p>
            <p v-if="modalConfig.precision" class="alert alert-warning">
              {{ modalConfig.precision }}
            </p>
          </div>
          <div class="modal-footer">
            <button
              id="registrationModalOKButton"
              type="button"
              class="btn btn-success"
              @click="
                modalConfig.redirect ? modalConfig.redirect() : hideModal()
              "
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Form, Field } from 'vee-validate';
import * as Yup from 'yup';
// TODO / TECHNICAL IMPROVEMENT: get rid of jquery by using another modal
import $ from 'jquery';

import { defineComponent, ref } from 'vue';
import { Theme } from '@/constants';
import axiosClient from '@/service/axiosClient';
import router, { Routes } from '@/router';
import structuresJson from '@/assets/data/structures.json';
import missionsJson from '@/assets/data/missions.json';
import Spinner from '@/components/globals/Spinner.vue';
import { isRegistrationEnabled } from '@/service/featureActivation';

interface FormValues {
  userFirstName: string | null;
  userEmail: string | null;
  userLastName: string | null;
  userPassword: string | null;
  userAge: number | null;
  userGroup: string | null;
  userTerritory: string | null;
  userMission: string | null;
  userGroupTypology: string | null;
  userAnciennety: string | null;
  checkedThemes: number[];
  rgpd: boolean;
}

interface Structure {
  label: string;
  options: string[];
}

interface DataType {
  loading: boolean;
  modalConfig: {
    title: string;
    contents: string[];
    precision?: string;
    redirect?: () => void;
  };
  themes: Theme[];
  values: FormValues;
  checkedThemes: string[];
  selectedTerritoryIndex: number | null;
  selectedGroupIndex: number | null;
  selectedMission: string;
  groupOptions: string[];
  structures: Structure[];
  missions: string[];
  THEME_PRESENTATION: { name: string };
}

export default defineComponent({
  name: 'Register',
  components: {
    Form,
    Field,
    Spinner,
  },
  setup() {
    const schema = Yup.object().shape({
      userFirstName: Yup.string().required('Merci de rentrer ton prénom'),
      userLastName: Yup.string().required(
        'Merci de rentrer ton nom de famille',
      ),
      userEmail: Yup.string()
        .required('Merci de rentrer ton adresse e-mail')
        .email('Merci de rentrer une adresse e-mail correcte'),
      userPassword: Yup.string()
        .required('Merci de rentrer un mot de passe')
        .min(8, 'Ton mot de passe doit faire au moins 8 caractères'),
      confirmPassword: Yup.string()
        .required('Merci de confirmer mot de passe')
        .oneOf(
          [Yup.ref('userPassword'), null],
          'Ton mot de passe doit être identique à celui rentré',
        ),
      userAge: Yup.number()
        .required('Merci de rentrer ton age')
        .integer()
        .moreThan(15, 'Tu dois au moins avoir 16 ans'),
      userTerritory: Yup.string().nullable(),
      userGroup: Yup.string().nullable(),
      userMission: Yup.string().required('Merci de rentrer ta mission'),
      checkedThemes: Yup.array()
        .min(0)
        .max(3, 'Merci de selectionner entre 0 et ${max} thématiques'),
      rgpd: Yup.bool().required('Il faut accepter la gestion de données'),
    });
    return {
      schema,
    };
  },
  methods: {
    // TODO / TECHNICAL IMPROVEMENT: move the modal to a separate component
    showModal() {
      // @ts-ignore
      $('#registrationModal').modal('show');
      // @ts-ignore
      $('#registrationModal').on('shown.bs.modal', function (e) {
        $('#registrationModalOKButton').trigger('focus');
      });
    },
    hideModal() {
      // @ts-ignore
      $('#registrationModal').modal('hide');
      this.modalConfig = {
        title: 'Chargement...',
        contents: [],
        precision: undefined,
        redirect: undefined,
      };
    },

    async onSubmit(values: FormValues) {
      const serializedData = this.serializeData(values);
      this.loading = true;
      this.showModal();
      try {
        await axiosClient({
          url: '/auth/users/',
          method: 'POST',
          data: serializedData,
        });
      } catch (error) {
        this.modalConfig = {
          title: "Erreur d'inscription !",
          contents: [
            'Erreur est survenue lors de ton inscription...',
            'Peut-être que ton compte existe déjà ? Tu peux alors te connecter directement. Et si tu ne te souviens plus de ton mot de passe, tu peux en demander un nouveau en cliquant sur "Mot de passe oublié ?"',
          ],
          precision: `Raison technique : ${JSON.stringify(
            error?.response?.data,
          )}`,
        };
        return;
      } finally {
        this.loading = false;
      }
      this.modalConfig = {
        title: 'Inscription réussie !',
        contents: [
          'Tu es bien inscrit(e) !',
          "Tu peux maintenant te connecter et participer à l'élaboration du plan d'orientation !",
        ],
        redirect: () => {
          this.hideModal();
          router.push({ name: Routes.LOGIN });
        },
      };
    },
    /** Serialize FormValues to Register API data */
    serializeData({
      userFirstName,
      userEmail,
      userLastName,
      userPassword,
      userAge,
      userMission,
      userGroupTypology,
      userAnciennety,
      checkedThemes,
    }) {
      return {
        username: userEmail,
        email: userEmail,
        first_name: userFirstName,
        last_name: userLastName,
        password: userPassword,
        age: userAge,
        territory:
          this.selectedTerritoryIndex !== null
            ? this.structures[this.selectedTerritoryIndex]?.label ?? ''
            : '',
        group:
          this.selectedGroupIndex !== null
            ? this.groupOptions?.[this.selectedGroupIndex] ?? ''
            : '',
        missions: userMission,
        group_typology: userGroupTypology,
        seniority: userAnciennety,
        themes: checkedThemes,
      };
    },
    selectTerritory: function () {
      this.selectedGroupIndex = null;
      this.groupOptions =
        this.selectedTerritoryIndex !== null
          ? this.structures[this.selectedTerritoryIndex]?.options ?? []
          : [];
    },
  },
  computed: {
    isAppDisabled() {
      return !isRegistrationEnabled();
    },
  },
  data(): DataType {
    return {
      loading: false,
      modalConfig: { title: 'Chargement...', contents: [] },
      themes: [],
      values: {
        userFirstName: null,
        userEmail: null,
        userLastName: null,
        userPassword: null,
        userAge: null,
        userGroup: null,
        userTerritory: null,
        userMission: null,
        userGroupTypology: null,
        userAnciennety: null,
        checkedThemes: [],
        rgpd: false,
      },
      checkedThemes: [],
      structures: structuresJson,
      selectedTerritoryIndex: null,
      selectedGroupIndex: null,
      selectedMission: '',
      groupOptions: [],
      missions: missionsJson,
      THEME_PRESENTATION: { name: Routes.THEME_PRESENTATION },
    };
  },
  created() {
    axiosClient({
      url: '/api/themes/',
      method: 'GET',
    })
      .then(response => {
        this.themes = response.data;
      })
      .catch(error => {
        console.error(error);
      });
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

a {
  font-weight: bold;
}

form {
  text-align: left;
  margin-left: 5%;
}

.themes {
  display: flex;
  flex-wrap: wrap;
}

.themes-choices-content {
  flex: 5;
  flex-wrap: wrap;
  min-width: 200px;
}

.custom-toggle {
  position: relative;
  flex: 1 0 40%;
  margin: 0 10px 10px 0;
}

.custom-toggle input {
  /* display: none; */
  /* visibility: hidden; */
  position: absolute;
  left: 5px;
  top: 5px;
}

.custom-toggle input:checked + label {
  @extend .btn-primary;
}

.custom-label {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-color: $primary;
}

.themes-choices-description {
  flex: 1 1 200px;
  margin: 0 10px 10px 0;
}

/* modal */
.modal-wrapper {
  position: fixed;
  z-index: 1050; /* same as bootstrap */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0009;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>
