<template>
  <div class="container">
    <h1>Présentation des thématiques</h1>
    <Spinner :activated="loading" />
    <div
      v-for="(theme, index) in themes"
      v-bind:key="theme.id"
      :style="{ 'text-align': index % 2 ? 'right' : 'left' }"
    >
      <h2>{{ theme.name }}</h2>
      <p>{{ theme.description }}</p>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from '@vue/runtime-core';
import Spinner from '@/components/globals/Spinner.vue';
import axiosClient from '@/service/axiosClient';
import { Theme } from '@/constants';
interface DataType {
  themes: Theme[];
  loading: boolean;
}

export default defineComponent({
  name: 'ThemePresentation',
  components: {
    Spinner,
  },
  data(): DataType {
    return {
      themes: [],
      loading: false,
    };
  },
  created() {
    this.loading = true;
    axiosClient
      .get<Theme[]>('/api/themes')
      .then(response => {
        this.themes = response.data;
        this.loading = false;
      })
      .catch(error => {
        this.loading = false;

        console.error(error);
      });
  },
});
</script>

<style lang="scss">
@import '@/assets/styles.scss';
</style>
