<template>
  <div class="container-xl">
    <h1>{{ theme.name }}</h1>
    <p>{{ theme.description }}</p>
    <router-link
      :to="isForumAspirationEnabled ? FIRE_CAMP : HERE"
      class="text-white font-weight-bold"
    >
      <div
        class="alert alert-primary"
        role="alert"
        v-if="isForumEnabled"
        data-bs-toogle="tooltip"
        data-bs-placement="top"
        title="Les informations concernant le feu de camp vont bientôt arriver !"
      >
        <h2 class="text-align-left text-white alert-heading">
          <i class="sgdf-picto text-red sgdf-picto-signesCommuns-FeuDeCamp"></i>

          Participer au feu de camp
          <i class="sgdf-picto text-red sgdf-picto-signesCommuns-FeuDeCamp"></i>
        </h2>
        <h3 class="text-align-right alert-heading">{{ theme.date }}</h3>
        <div v-if="isForumAspirationEnabled">
          Tu es inscrit.e à cette thématique, tu peux donc participer à la visio
          "Feu de Camp" en cliquant ici !
        </div>
        <div v-else>
          <p>
            Comme tu t'es inscrit.e à cette thématique, tu pourras participer à
            la visio "Feu de Camp" à la date indiquée en cliquant sur cet
            encadré.
          </p>
          <p>
            La page "Feu de Camp" n'est pas encore accessible. En attendant,
            n'hésite pas à parcourir les différents documents et à t'enrichir
            des podcasts et vidéos suggérés
          </p>
        </div>
      </div></router-link
    >

    <div class="card kit-card">
      <div class="card-header kit-card-header" id="header-kit">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left d-flex align-items-center"
            type="button"
            data-toggle="collapse"
            data-target="#collapse-kit"
            aria-expanded="false"
            aria-controls="#collapse-kit"
          >
            <i
              class="sgdf-picto fa-2x text-white sgdf-picto-signesCommuns-Gouvernail kit-icon"
            ></i>
            <span v-if="isIndivudal" class="kit-section"
              >Mon Kit de réflexion</span
            >
            <span v-if="isFLJ" class="kit-section"
              >Mon Kit Clé en main - Farfadets / Louveteaux Jeannettes</span
            >
            <span v-if="isSGPC" class="kit-section"
              >Mon Kit Clé en main - Scouts-Guides / Pionniers Caravelles</span
            >
            <span v-if="!isParticipationValid" class="kit-section"
              ><router-link class="text-white" :to="PARTICIPATION_CHOICE"
                >Choisis ton type de participation pour voir le contenu
                adapté&nbsp;!</router-link
              ></span
            >
          </button>
        </h2>
      </div>

      <div id="collapse-kit" class="collapse" aria-labelledby="header-kit">
        <div v-if="isIndivudal" class="card-body">
          <div class="card-title">
            <a
              href="https://monpo2022-sgdf.cellar-c2.services.clever-cloud.com/kit/Kit_de_réflexion_plan_d_orientation.pdf"
              class="download-link"
              target="_blank"
            >
              <i
                class="sgdf-picto fa-2x text-dark sgdf-picto-signesPionniersCaravelles-Etape kit-icon"
              ></i>
              <h4 class="kit-title">Télécharger le kit de réflexion</h4>
            </a>
          </div>
          <p class="card-text mb-1">
            Ce kit te permettra de vivre trois temps de réflexion personnelle, à
            faire à ton rythme, pour t’aider à préparer les feux de camp et à
            terme, le prochain plan d’orientation de l’association !
          </p>
        </div>
        <div v-else class="card-body">
          <div v-if="isFLJ" class="card-title">
            <a
              href="https://monpo2022-sgdf.cellar-c2.services.clever-cloud.com/demarche-jeunes/Démarche_PO_cle_en_main_Farfadets-et-L-J.pdf"
              class="download-link"
              target="_blank"
            >
              <i
                class="sgdf-picto fa-2x text-dark sgdf-picto-signesPionniersCaravelles-Etape kit-icon"
              ></i>
              <h4 class="kit-title">Télécharge ton kit clé en main</h4>
            </a>
          </div>
          <div v-if="isSGPC" class="card-title">
            <a
              href="https://monpo2022-sgdf.cellar-c2.services.clever-cloud.com/demarche-jeunes/Demarche_PO_jeunes_SG-PC.pdf"
              class="download-link"
              target="_blank"
            >
              <i
                class="sgdf-picto fa-2x text-dark sgdf-picto-signesPionniersCaravelles-Etape kit-icon"
              ></i>
              <h4 class="kit-title">Télécharge ton kit clé en main</h4>
            </a>
          </div>
          <p class="card-text mb-1">
            Ce kit clé en main te permettra d'animer une réunion autour du Plan
            d'Orientation au cours du mois de mai ! Tu y trouveras plein d'infos
            utiles !
          </p>
        </div>
      </div>
    </div>

    <div class="card aspiration-card">
      <div class="card-header aspiration-card-header" id="header-aspiration">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left d-flex align-items-center"
            type="button"
            data-toggle="collapse"
            data-target="#collapse-priorisation"
            aria-expanded="true"
            aria-controls="#collapse-priorisation"
          >
            <i class="fa-2x text-dark fa fa-sort aspiration-icon"></i>
            <span class="aspiration-section">Priorisons nos aspirations</span>
          </button>
        </h2>
      </div>
      <div
        id="collapse-priorisation"
        class="collapse show"
        aria-labelledby="header-aspiration"
      >
        <div class="alert alert-dark" role="alert">
          <h4 class="alert-heading">
            Pour chaque thématique, tu es invité à trier les aspirations
            définies par les feux de camp, pour les prioriser selon 2 axes :
          </h4>

          <ul class="text-left">
            <li>Est-ce important pour notre mouvement ?</li>

            <li>
              Est-ce que ça va nous demander beaucoup d’énergie pour le mettre
              en œuvre ?
            </li>
          </ul>
          <hr />
          <p class="mn-0">
            Tout le monde peut participer, que vous ayez fait ou non les feux de
            camp ou les autres étapes de la démarche !
          </p>
        </div>
        <h2>Légende</h2>
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <span class="badge bg-orange rounded-pill">
              Aspiration réécrite en feu de camp
            </span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <span class="badge bg-blue text-white rounded-pill">
              Aspiration individuelle
            </span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <span class="badge rounded-pill"> Aspiration non débatue </span>
          </li>
        </ul>

        <PrioritizedAspiration
          v-for="priorisation in priorisations"
          v-bind:key="priorisation.id"
          :content="priorisation"
        />
      </div>
    </div>

    <DocumentItems v-bind:documents="documents" />
    <div class="flex-column card podcast-card" id="header-podcast">
      <div class="card-header podcast-card-header">
        <h2 class="mb-0 text-left">
          <button
            class="btn btn-link btn-block text-left d-flex align-items-center"
            type="button"
            data-toggle="collapse"
            data-target="#collapse-podcast"
            aria-expanded="false"
            aria-controls="#collapse-podcast"
          >
            <i class="fas fa-podcast fa-2x aspiration-icon"></i>
            <span class="podcast-section">Podcasts et vidéos</span>
          </button>
        </h2>
      </div>
      <div
        id="collapse-podcast"
        class="collapse"
        aria-labelledby="header-podcast"
      >
        <div class="card-body podcast-card-body">
          <div class="accordion custom-accordion" id="themeAccordion">
            <Spinner :activated="loading" />
            <PodcastItem
              v-for="content in podcasts"
              v-bind:themeId="content.theme"
              v-bind:contentId="content.id"
              v-bind:podcast="content"
              v-bind:key="content.id"
              v-bind:accordionParent="'#themeAccordion'"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- <div v-if="!isForumEnabled" class="card aspiration-card">
      <div class="card-header aspiration-card-header" id="header-aspiration">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left d-flex align-items-center"
            type="button"
            data-toggle="collapse"
            data-target="#collapse-aspiration"
            aria-expanded="false"
            aria-controls="#collapse-aspiration"
          >
            <i
              class="sgdf-picto fa-2x text-dark sgdf-picto-signesJambville-Ampoule1 aspiration-icon"
            ></i>
            <span class="aspiration-section">Envoie ton aspiration</span>
          </button>
        </h2>
      </div>
      <div
        v-if="!isForumEnabled"
        id="collapse-aspiration"
        class="collapse"
        aria-labelledby="header-aspiration"
      >
        <AspirationContentItem
          v-for="aspiration in aspirations"
          v-bind:key="aspiration.id"
          :content="aspiration"
        />
        <div v-if="!loading && !aspirations.length" class="card-body">
          <p class="card-text mb-1">
            Ce module ne sera disponible qu'à partir du 15 mai. A ce moment, tu
            pourras répondre à quelques questions et envoyer (individuellement
            ou en unité) ton aspiration pour le mouvement sur la thématique
            <span class="font-weight-bold">{{ theme.name }}</span>
          </p>
          <p>En attendant, n'hésite pas à t'enrichir du contenu proposé !</p>
        </div>
      </div>
    </div> -->
  </div>
</template>

<script lang="ts">
import PodcastItem from '@/components/documents/PodcastItem.vue';
import DocumentItems from '@/components/documents/DocumentItems.vue';
// import AspirationContentItem from '@/components/documents/AspirationContentItem.vue';
import PrioritizedAspiration from '@/components/documents/PrioritizedAspiration.vue';
import Spinner from '@/components/globals/Spinner.vue';
import axiosClient from '@/service/axiosClient';
import { authStore } from '@/store/auth';
import {
  ParticipationType,
  ParticipationUnit,
  sessionStore,
} from '@/store/session';
import { Content, ContentType, Theme } from '@/constants';
import { AxiosResponse } from 'axios';

import { defineComponent } from 'vue';
import router, { Routes } from '@/router';
import { RouteLocationRaw } from 'vue-router';
import { isForumAspirationEnabled } from '@/service/featureActivation';

interface DataType {
  theme: Omit<Theme, 'id'>;
  loading: boolean;
  PARTICIPATION_CHOICE: RouteLocationRaw;
  FIRE_CAMP: RouteLocationRaw;
  HERE: RouteLocationRaw;
}

export default defineComponent({
  name: 'Theme',
  components: {
    PodcastItem,
    Spinner,
    DocumentItems,
    // AspirationContentItem,
    PrioritizedAspiration,
  },
  props: {
    themeId: { type: Number, required: true },
  },
  data(): DataType {
    return {
      theme: {
        name: 'Chargement...',
        contents: [],
        forum: null,
        date: null,
        description: '',
      },
      loading: false,
      PARTICIPATION_CHOICE: { name: Routes.PARTICIPATION_CHOICE },
      FIRE_CAMP: { name: Routes.FIRECAMP, params: { themeId: this.themeId } },
      HERE: { name: Routes.THEME, params: { themeId: this.themeId } },
    };
  },
  async created() {
    this.loading = true;
    let response: AxiosResponse<Theme>;
    try {
      response = await axiosClient.get<Theme>(`/api/themes/${this.themeId}`);
    } catch (error) {
      if (error.response.status === 401) {
        authStore.logout();
        router.push({ name: Routes.LOGIN });
        return;
      }
      return console.error(error);
    } finally {
      this.loading = false;
    }
    this.theme = response.data;
  },
  computed: {
    isForumAspirationEnabled() {
      return isForumAspirationEnabled();
    },
    isForumEnabled(): boolean {
      return (
        authStore.hasSubscribedToForum(this.themeId) &&
        sessionStore.getParticipationType() === ParticipationType.INDIVIDUAL
      );
    },
    contents(): Content[] {
      return this.theme.contents.filter(content =>
        sessionStore.isVisible(content.visibility),
      );
    },
    documents(): Content[] {
      return this.contents.filter(
        content => content.content_type === ContentType.DOCUMENT,
      );
    },
    podcasts(): Content[] {
      return this.contents.filter(
        content => content.content_type === ContentType.PODCAST,
      );
    },
    aspirations(): Content[] {
      return this.contents.filter(
        content => content.content_type === ContentType.ASPIRATION,
      );
    },
    priorisations(): Content[] {
      return this.contents.filter(
        content => content.content_type === ContentType.PRIORITIZED_ASPIRATION,
      );
    },
    isIndivudal(): boolean {
      return (
        sessionStore.getParticipationType() === ParticipationType.INDIVIDUAL
      );
    },
    isFLJ(): boolean {
      return (
        sessionStore.getParticipationUnit() === ParticipationUnit.FARFA ||
        sessionStore.getParticipationUnit() === ParticipationUnit.LJ
      );
    },
    isSGPC(): boolean {
      return (
        sessionStore.getParticipationUnit() === ParticipationUnit.SG ||
        sessionStore.getParticipationUnit() === ParticipationUnit.PC
      );
    },
    isParticipationValid(): boolean {
      return sessionStore.isParticipationValid();
    },
  },
});
</script>
<style lang="scss" scoped>
@import '@/assets/styles.scss';

.custom-accordion {
  width: 100%;
}

.card {
  margin-bottom: 20px;
}

.kit-card {
  border: 1px solid $blue !important;
  margin-bottom: 20px;
  :hover {
    text-decoration: none;
  }
}

.kit-card-header {
  @extend .alert-info;
}

.kit-section {
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
}

.kit-icon {
  margin-right: 15px;
}

.download-link {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.kit-title {
  margin: 0;
}

.podcast-card {
  border: 1px solid $blue !important;
  margin-bottom: 20px;
  :hover {
    text-decoration: none;
  }
}

.podcast-card-header {
  @extend .alert-success;
}

.podcast-section {
  font-size: 1.5rem;
  font-weight: normal;
  color: $primary;
}

.aspiration-card {
  border: 1px solid $blue !important;
  margin-bottom: 20px;
  :hover {
    text-decoration: none;
  }
}

.aspiration-card-header {
  @extend .alert-warning;
}

.aspiration-section {
  font-size: 1.5rem;
  font-weight: normal;
  color: $primary;
}

.aspiration-icon {
  margin-right: 15px;
}

.aspiration-title {
  margin: 0;
}
</style>
