<template>
  <div class="Theme container-fluid">
    <h1>Choisis le thème auquel tu souhaites participer</h1>
    <div class="connexion-po">
      <div
        class="alert alert-success d-flex align-items-center justify-content-center mb-1 mr-1 connexion-po-item"
      >
        <a href="https://www.youtube.com/watch?v=KgkCcC2Na4g" target="_blank">
          <h4 class="d-flex align-items-center justify-content-center">
            Retrouvez la rediffusion du feu de camp de lancement sur YouTube en
            cliquant ici !
          </h4>
        </a>
      </div>
    </div>
    <div class="row">
      <Spinner :activated="loading" />
      <div class="col-lg-6 card-group">
        <span v-if="!loading && !themes.length"
          >Oups... les thématiques n'arrivent pas à venir jusqu'ici ! Essaie de
          te déconnecter puis reconnecter ?</span
        >
        <ThemeItem
          v-for="theme in themes"
          v-bind:theme="theme"
          v-bind:key="theme.id"
        />
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 separator">
        <h2 class="text-center">La démarche du Plan d'orientation</h2>
        <iframe
          class="iframe"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/Xb8BpZpHsrQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>

        <a
          href="https://www.sgdf.fr/vie-democratique/en-route-vers-un-nouveau-plan-d-orientation"
          title="En route vers un nouveau plan d'orientation - Site des Scouts et Guides de France"
          target="_blank"
        >
          <img
            alt="Scouts et Guides de France"
            src="@/assets/temps-moisdemai2021.png"
            class="img-fluid w-100"
          />
          <span class="btn btn-light mt-1 mb-2">
            Plus de détails sur la démarche
          </span>
        </a>
      </div>
    </div>
    <div class="alert alert-dark mt-2">
      <p>
        Si une icone
        <span
          class="badge badge-pill badge-light"
          @dblclick="handleDoubleClick"
        >
          <i
            class="text-dark sgdf-picto fa-2x sgdf-picto-signesCommuns-FeuDeCamp"
          ></i>
        </span>
        est affichée à côté du nom de la thématique, cela signifie que tu as la
        possibilité de participer au Feu de Camp sur cette thématique !
      </p>
      <p>
        Dans tous les cas, tu as accès à l'ensemble des documents, vidéos et
        podcasts de chaque thématique ! Alors n'hésite pas à naviguer sur le
        site !
      </p>
      <p>
        Avant de choisir ta ou tes thématiques, tu peux lire leur
        <router-link :to="THEME_PRESENTATION"
          >présentation sur cette page</router-link
        >.
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import ThemeItem from '@/components/ThemeItem.vue';
import Spinner from '@/components/globals/Spinner.vue';
import axiosClient from '@/service/axiosClient';
import { Theme } from '@/constants';
import { Routes } from '@/router';

interface DataType {
  themes: Theme[];
  loading: boolean;
  THEME_PRESENTATION: { name: string };
}

export default defineComponent({
  name: 'ThemeChoice',
  components: {
    ThemeItem,
    Spinner,
  },
  data(): DataType {
    return {
      themes: [],
      loading: false,
      THEME_PRESENTATION: { name: Routes.THEME_PRESENTATION },
    };
  },
  created() {
    this.loading = true;
    axiosClient
      .get<Theme[]>('/api/themes')
      .then(response => {
        this.themes = response.data;
        this.loading = false;
      })
      .catch(error => {
        this.loading = false;

        console.error(error);
      });
  },
  methods: {
    handleDoubleClick() {
      alert(
        'Le sais-tu ? Ce site a été développé avec passion par des bénévoles du mouvement !',
      );
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

.iframe {
  max-width: 100%;
}

.card {
  background-color: $primary;
  color: white;
}

.icon {
  height: 30px;
}

.connexion-po {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.connexion-po-item {
  flex: 1 1 auto;
}

@include media-breakpoint-up(lg) {
  .separator {
    border-left: 5px dashed $primary;
  }
}

a {
  font-weight: bold;
}
</style>
