<template>
  <div class="container user-container">
    <h1>Mon profil</h1>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          {{ userData.firstName }} {{ userData.lastName }}
        </h2>
        <div class="user-card">
          <p class="font-weight-bold">Email : {{ userData.username }}</p>
          <p class="font-weight-bold">
            Feux de camp auxquels je suis inscrit(e) :
          </p>
          <ul>
            <li v-for="forum in forums" v-bind:key="forum.id">
              <router-link :to="`/thematique/${forum.theme}`">{{
                forum.name
              }}</router-link>
              <span>
                ({{ forum.date ? `Date: ${forum.date}` : 'Date à venir' }})
              </span>
              <a v-if="forum.url" :href="forum.url">[Lien de la visio]</a
              ><span v-else>[Lien de la visio à venir]</span>
            </li>
          </ul>
          <p>
            Pour les autres thématiques, tu peux parcourir les contenus et
            proposer tes aspirations à partir du 17 mai.
          </p>
          <p class="font-weight-bold">Mes données personnelles :</p>
          <ul>
            <li>Âge : {{ userData.age ?? 'Inconnu' }}</li>
            <li>Territoire / Équipe : {{ userData.territory ?? 'Inconnu' }}</li>
            <li>Groupe : {{ userData.group ?? 'Inconnu' }}</li>
            <li>Mission : {{ userData.missions ?? 'Inconnu' }}</li>
            <li>
              Typologie de groupe : {{ userData.groupTypology ?? 'Inconnu' }}
            </li>
            <li>
              SGDF depuis environ : {{ userData.seniority ?? 'Inconnu' }} années
            </li>
          </ul>
          <p>
            Pour toute demande de modification de feu de camp ou de tes données
            personnelles, merci de t'adresser directement à
            <a class="font-weight-bold" href="mailto:monpo2022@gmail.com"
              >monpo2022@gmail.com</a
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { UserData, UserExtraData } from '@/constants';
import axiosClient from '@/service/axiosClient';
import { authStore } from '@/store/auth';
import { defineComponent } from '@vue/runtime-core';
import { DeepReadonly } from 'vue';

export default defineComponent({
  name: 'UserProfile',

  data() {
    return {};
  },
  computed: {
    userData(): DeepReadonly<UserData & UserExtraData> {
      return authStore.getUserData();
    },
    forums() {
      return authStore.getUserForums();
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-card {
  text-align: left;
}
</style>
