<template>
  <div class="card doc-card">
    <div class="card-header doc-card-header" id="header-documents">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left d-flex align-items-center"
          type="button"
          data-toggle="collapse"
          data-target="#collapse-documents"
          aria-expanded="false"
          aria-controls="#collapse-documents"
        >
          <i
            class="sgdf-picto fa-2x text-dark sgdf-picto-signesFarfadet-Grimoire doc-icon"
          ></i>
          <span class="doc-section">Documents et liens de la thématique</span>
        </button>
      </h2>
    </div>

    <div
      id="collapse-documents"
      class="collapse"
      aria-labelledby="header-documents"
    >
      <div class="card-body list-group">
        <div
          class="doc-item list-group-item list-group-item-action"
          v-for="document in documents"
          v-bind:key="document.id"
        >
          <div class="card-title">
            <a
              v-if="isFile(document.sub_content)"
              :href="document.url"
              class="download-link"
              target="_blank"
            >
              <i
                class="sgdf-picto fa-2x text-dark sgdf-picto-signesPionniersCaravelles-Etape doc-icon"
              ></i>
              <h3 class="doc-title mb-1">{{ document.title }}</h3>
            </a>
            <a
              v-if="isLink(document.sub_content)"
              :href="document.url"
              class="download-link"
              target="_blank"
            >
              <i class="fas fa-link fa-2x doc-icon"></i>
              <h3 class="doc-title mb-1">{{ document.title }}</h3>
            </a>
          </div>
          <p class="card-text mb-1 text-left">{{ document.description }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { Document, SubContentType } from '@/constants';

export default defineComponent({
  name: 'DocumentItems',
  props: {
    documents: { type: Object as PropType<Document>, required: true },
  },
  methods: {
    isFile(subContent: SubContentType) {
      return subContent === SubContentType.FILE;
    },
    isLink(subContent: SubContentType) {
      return subContent === SubContentType.LINK;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

.doc-card {
  border: 1px solid $lightgreen !important;
  margin-bottom: 20px;
  :hover {
    text-decoration: none;
  }
}

.doc-card-header {
  @extend .alert-success;
}

.doc-section {
  font-size: 1.5rem;
  font-weight: normal;
}

// .doc-item {
//   display: flex;
//   align-items: center;
//   justify-content: start;
//   flex-wrap: wrap-reverse;
//   list-style-type: none;
//   margin-bottom: 10px;
// }

.doc-icon {
  margin-right: 15px;
}

.download-link {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.doc-title {
  margin: 0;
}

// .doc-content {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-wrap: wrap;
//   flex: 1;
// }

// .doc-description {
//   flex: 1;
// }
</style>
