<template>
  <div class="card">
    <div class="card-header" :id="`heading-${contentId}`">
      <h3 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          :data-target="`#collapse-${contentId}`"
          aria-expanded="false"
          :aria-controls="`#collapse-${contentId}`"
        >
          <i
            v-if="isVideo(podcast.sub_content)"
            class="sgdf-picto fa-2x text-dark sgdf-picto-signesFarfadet-Malle podcast-icon"
          ></i>
          <i
            v-if="isAudio(podcast.sub_content)"
            class="sgdf-picto fa-2x text-dark sgdf-picto-signesCommuns-Chant podcast-icon"
          ></i>
          <span>
            {{ podcast.title }}
          </span>
        </button>
      </h3>
    </div>

    <div
      :id="`collapse-${contentId}`"
      class="collapse"
      :aria-labelledby="`heading-${contentId}`"
      :data-parent="accordionParent"
    >
      <div class="card-body">
        <p>{{ podcast.description }}</p>
        <iframe
          v-if="isVideo(podcast.sub_content)"
          v-bind:src="podcast.url"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div v-if="isAudio(podcast.sub_content)">
          <div class="container-audio">
            <audio controls loop>
              <source v-bind:src="podcast.url" type="audio/mpeg" />
              Ton navigateur est trop ancien pour afficher ce contenu audio,
              utilise une version plus récente pour l'afficher.
            </audio>
          </div>
        </div>
        <div>
          <QuestionBlock :contentId="contentId" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import QuestionBlock from '@/components/questions/QuestionBlock.vue';
import { Content, SubContentType } from '@/constants';

export default defineComponent({
  name: 'PodcastItem',
  components: { QuestionBlock },
  props: {
    podcast: { type: Object as PropType<Content>, required: true },
    contentId: { type: Number, required: true },
    themeId: { type: Number, required: true },
    accordionParent: { type: String, required: true },
  },
  methods: {
    isVideo(subContent: SubContentType) {
      return subContent === SubContentType.VIDEO;
    },
    isAudio(subContent: SubContentType) {
      return subContent === SubContentType.AUDIO;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

.podcast-icon {
  margin-right: 15px;
}

iframe {
  width: 560px;
  height: 315px;
  max-width: 100%;
  max-height: calc((100vw - 40px) / (16 / 9));
}

.container-audio {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
  color: #444;
  margin: 10px auto;
  overflow: hidden;
}
audio {
  width: 100%;
}
</style>
