<template>
  <div class="mb-2 mt-2">
    <h3>{{ content.title }}</h3>
    <p>{{ content.description }}</p>
    <div>
      <QuestionBlock :contentId="content.id" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import QuestionBlock from '@/components/questions/QuestionBlock.vue';
import { Content } from '@/constants';

export default defineComponent({
  name: 'PrioritizedAspiration',
  components: { QuestionBlock },
  props: {
    content: { type: Object as PropType<Content>, required: true },
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';
</style>
