<template>
  <div class="wrapper">
    <header>
      <app-header></app-header>
    </header>
    <main role="main">
      <router-view />
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import AppFooter from '@/components/globals/AppFooter.vue';
import AppHeader from '@/components/globals/AppHeader.vue';

export default defineComponent({
  name: 'App',
  components: {
    AppHeader,
    AppFooter,
  },
  watch: {
    $route: {
      immediate: true,
      handler(to, from) {
        // Set title
        document.title = "Mon Plan d'Orientation";
        // Set meta tags
        // TODO: // Preconnect to backend
        // const backendTag = document.createElement('link');
        // backendTag.setAttribute('rel', 'preconnect');
        // backendTag.setAttribute('href', process.env.VUE_APP_API_URL);
        // document.head.appendChild(backendTag);
      },
    },
  },
});
</script>
<style lang="scss" scoped>
@import '@/assets/styles.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex: 1;
}
</style>
