
<!DOCTYPE html>
<html lang='fr'>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" media="screen" href="/static/admin/css/base.css"/>
  <link rel="stylesheet" media="screen" href="/static/admin/css/forms.css"/>
  <link rel="stylesheet" media="screen" href="/static/admin/css/responsive.css"/>
</head>
<body>
<div id='container'>
  <div id="main" class='main shifted'>
    <div id='content'>
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
</body>
</html>
