<template>
  <div id="rootChoice" class="container">
    <div class="row">
      <div class="col-sm">
        <router-link class="" to="/podcasts">
          <div id="choicePodcasts" class="text-red">
            <h2>Regarde des podcasts</h2>
            <i class="fas fa-podcast fa-10x"></i>
          </div>
        </router-link>
      </div>
      <div class="col-sm">
        <router-link to="/documents">
          <div id="choiceDocuments" class="text-darkgreen">
            <h2>Accède aux documents en ligne</h2>
            <i class="fa fa-folder fa-10x" aria-hidden="true"></i>
          </div>
        </router-link>
      </div>
      <div class="col-sm">
        <router-link to="/questions">
          <div id="choiceQuestionsTheme" class="text-orange">
            <h2>Donne ton avis !</h2>
            <i class="fa fa-question fa-10x" aria-hidden="true"></i>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'RootChoice',
});
</script>

<style lang="css" scoped>
@import '@/assets/styles.scss';
a:hover {
  text-decoration: none;
  font-weight: bold;
}
</style>
