<template>
  <div class="col-lg-6 custom-container">
    <div
      class="card bg-darkblue text-white w-100 h-100"
      data-toggle="tooltip"
      data-placement="right"
      :title="theme.description"
    >
      <router-link :to="{ name: 'Theme', params: { themeId: theme.id } }">
        <div class="card-body">
          <h2 class="text-white text-center">{{ theme.name }}</h2>
          <span class="text-white text-center" v-if="theme.date"
            >Date du feu de camp: {{ theme.date }}</span
          >
        </div>
      </router-link>
      <div
        v-if="isForumSubscribed"
        class="badge badge-pill badge-light custom-badge"
      >
        <i
          class="text-dark sgdf-picto fa-2x sgdf-picto-signesCommuns-FeuDeCamp"
          :alt="`Tu es inscrit(e) au feu de camp lié à la thématique ${theme.name}`"
          data-toggle="tooltip"
          data-placement="top"
          title="Tu es inscrit(e) au feu de camp lié à cette thématique"
        ></i>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { authStore } from '@/store/auth';
import { ParticipationType, sessionStore } from '@/store/session';
import { Theme } from '@/constants';
import { defineComponent, PropType } from 'vue';

export default defineComponent({
  name: 'ThemeItem',
  props: {
    theme: { type: Object as PropType<Theme>, required: true },
  },
  computed: {
    isForumSubscribed(): boolean {
      return (
        authStore.hasSubscribedToForum(this.theme.id) &&
        sessionStore.getParticipationType() === ParticipationType.INDIVIDUAL
      );
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

.icon {
  width: 30px;
  height: 30px;
}

.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
</style>
