<template>
  <footer class="footer">
    <div class="container">
      <span class="text-white"
        ><small
          >&copy; Copyright 2021
          <a class="text-white" href="https://sgdf.fr">SGDF</a>{{ ' - ' }}
          <a class="text-white" href="mailto:monpo2022@gmail.com"
            >Contact Support</a
          >
          {{ ' - Hébergé par' }}
          <a class="text-white" href="https://www.clever-cloud.com"
            >Clever cloud</a
          >
        </small>
      </span>
    </div>
  </footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'AppFooter',
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

footer {
  background-color: $darkblue;
}
</style>
