<template>
  <div class="header">
    <nav class="navbar navbar-dark navbar-expand-md d-flex">
      <router-link
        :to="HOME"
        class="navbar-brand py-0 custom-btn"
        aria-label="Page d'accueil"
      >
        <img
          alt="Scouts et Guides de France"
          src="@/assets/logos/SGDF_logo_blanc_horizontal.png"
          height="36"
        />
      </router-link>
      <router-link
        class="btn btn-warning custom-btn"
        v-if="suggestParticipationChoice"
        :to="CHOICE"
        ><i class="fas fa-exclamation-triangle"></i> Choisir mon type de
        participation</router-link
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse nav ml-auto mt-2 justify-content-end row"
        id="navbarSupportedContent"
      >
        <div v-if="isLoggedIn" class="nav-item">
          <router-link :to="THEMES">
            <button class="btn btn-outline-light custom-btn">
              Liste des thématiques
            </button></router-link
          >
        </div>
        <div
          class="nav-item dropdown"
          v-if="isLoggedIn && currentParticipationType !== null"
        >
          <button
            class="btn btn-secondary dropdown-toggle custom-btn"
            v-bind:style="{
              background: currentUnitColor,
            }"
            type="button"
            id="dropdownMode"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ currentParticipationName }}
            {{ currentUnitName && `: ${currentUnitName}` }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMode">
            <a
              class="dropdown-item"
              @click="switchMode(ParticipationTypeEnum.UNIT)"
              >Unité</a
            >
            <a
              class="dropdown-item"
              @click="switchMode(ParticipationTypeEnum.INDIVIDUAL)"
              >Personnel</a
            >
          </div>
        </div>
        <div v-if="isLoggedIn" class="nav-item profil-button">
          <router-link :to="PROFILE">
            <button class="btn btn-outline-light custom-btn">
              {{ userName }} / Mon profil
            </button></router-link
          >
        </div>
        <div class="nav-item connection-button">
          <router-link
            :to="REGISTER"
            class="btn btn-outline-light custom-btn"
            v-if="!isLoggedIn"
          >
            S'inscrire
          </router-link>
        </div>
        <div class="nav-item connection-button">
          <button
            class="btn btn-danger custom-btn"
            v-if="isLoggedIn"
            @click="logout"
          >
            Déconnexion
          </button>
          <button class="btn btn-success custom-btn" v-else @click="login">
            Connexion
          </button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { authStore } from '@/store/auth';
import router, { Routes } from '@/router';
import { sessionStore, ParticipationType } from '@/store/session';

export default defineComponent({
  name: 'AppHeader',
  computed: {
    isLoggedIn() {
      return authStore.isLoggedIn();
    },
    userName() {
      return authStore.getFirstName();
    },
    currentParticipationType() {
      return sessionStore.getParticipationType();
    },
    currentParticipationName() {
      return sessionStore.getParticipationName();
    },
    currentUnitName() {
      return sessionStore.getParticipationUnit();
    },
    currentUnitColor() {
      return sessionStore.getParticipationUnitColor();
    },
    suggestParticipationChoice() {
      return (
        authStore.isLoggedIn() &&
        !sessionStore.isParticipationValid() &&
        ![Routes.PARTICIPATION_CHOICE, Routes.MY_UNIT].includes(
          this.$route.name as Routes,
        )
      );
    },
  },
  methods: {
    logout() {
      authStore.logout();
      router.push({ name: Routes.LOGIN });
    },
    login: () => router.push({ name: Routes.LOGIN }),
    switchMode(newMode: ParticipationType) {
      sessionStore.setParticipation(newMode);
      if (newMode === ParticipationType.UNIT) {
        router.push({
          name: Routes.MY_UNIT,
          params: { nextUrl: this.$route.fullPath },
        });
      }
      if (
        this.$route.name === Routes.MY_UNIT &&
        newMode === ParticipationType.INDIVIDUAL
      ) {
        router.push({ name: Routes.THEME_CHOICE });
      }
    },
    getParticipationNames: sessionStore.getParticipationName,
  },
  data(): any {
    return {
      ParticipationTypeEnum: ParticipationType,
      Mode: sessionStore.getParticipationType,
      HOME: { name: Routes.THEME_CHOICE },
      PROFILE: { name: Routes.USER_PROFILE },
      CHOICE: { name: Routes.PARTICIPATION_CHOICE },
      THEMES: { name: Routes.THEME_CHOICE },
      REGISTER: { name: Routes.REGISTER },
    };
  },
});
</script>

<style lang="scss" scoped>
@import '@/assets/styles.scss';

.header {
  background-color: $darkblue;
  color: white;
}

a {
  color: white;

  :hover {
    color: white;
    text-decoration: underline;
  }
}

.custom-btn {
  margin-right: 15px;
  margin-bottom: 5px;
}
</style>
