<template>
  <img
    v-if="activated"
    class="img-spinner"
    src="@/assets/icons/spinner.svg"
    alt="Chargement en cours..."
  />
</template>
<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Spinner',
  props: { activated: Boolean },
});
</script>
<style scoped>
/* Loader */
.img-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
