/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Raleway&family=Sarabun:wght@100&display=swap');
@import '~@sgdf/font-picto/css/sgdf-pictos-commun.min.css';
@import '~@sgdf/font-picto/font/sgdf-pictos.min.css';

$caveat: 'Caveat Brush', cursive;
$raleway: 'Raleway', sans-serif;
$sarabun: 'Sarabun', sans-serif;

$body: $sarabun;
$title: $caveat;
$subtitle: $raleway;

/* Colors */
$darkblue: #003a5d;
$darkblue-half-opacity: #003a5d80;
$orange: #ff8300;
$orange-half-opacity: #ff830080;
$blue: #0077b3;
$blue-half-opacity: #0077b380;
$red: #d03f15;
$red-half-opacity: #d03f1580;
$darkgreen: #007254;
$darkgreen-half-opacity: #00725480;
$lightgreen: #65bc99;
$lightgreen-half-opacity: #65bc9980;
$purple: #6e74aa;

$success: #007254;
$info: #0077b3;
$warning: #ff8300;
$danger: #d03f15;
$light: #f8f9fa;
$dark: $darkblue;
$white: white;

$primary: $darkblue;
$primary-half-opacity: $darkblue-half-opacity;
$secondary: #6c757d;

/* Reset CSS before bootstrap */
button {
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  :hover {
    text-decoration: none;
  }
}

/* Import bootstrap */
@import 'bootstrap';

/* Define custom styles */
.title {
  font-family: $title;
  color: $darkblue;
  font-size: 1.5rem;
}

h1 {
  font-family: $title;
  color: $darkblue;
  font-size: 2.5rem;
}
h2 {
  @extend .title;
  font-size: 2rem;
}
h3,
h4,
h5 {
  font-family: $subtitle;
}

.text-dark {
  color: $darkblue;
}
.text-orange {
  color: $orange;
}
.text-blue {
  color: $blue;
}
.text-red {
  color: $red;
}
.text-darkgreen {
  color: $darkgreen;
}
.text-lightgreen {
  color: $lightgreen;
}
.text-purple {
  color: $purple;
}

.bg-darkblue {
  background-color: $darkblue;
}
.bg-orange {
  background-color: $orange;
}
.bg-blue {
  background-color: $blue;
}
.bg-red {
  background-color: $red;
}
.bg-darkgreen {
  background-color: $darkgreen;
}
.bg-lightgreen {
  background-color: $lightgreen;
}
.bg-purple {
  background-color: $purple;
}

#app {
  font-family: $body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $darkblue;
}

/* Override Bootstrap */

.text-primary {
  color: $darkblue !important;
}

/* Buttons */
.btn {
  font-weight: bold;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;

  &:not(:disabled):not(.disabled):hover {
    background-color: $blue;
  }
  &:focus,
  &:not(:disabled):not(.disabled):active {
    background-color: $blue;
    border-color: $blue;
    box-shadow: 0 0 0 0.2rem $blue-half-opacity;
  }
  &.disabled,
  &:disabled {
    background-color: $secondary;
    border-color: $secondary;
  }
}

.btn-success {
  background-color: $lightgreen;
  border-color: $lightgreen;

  &:not(:disabled):not(.disabled):hover {
    background-color: $lightgreen-half-opacity;
  }
  &:focus,
  &:not(:disabled):not(.disabled):active {
    background-color: $darkgreen;
    border-color: $darkgreen;
    box-shadow: 0 0 0 0.2rem $darkgreen-half-opacity;
  }
  &.disabled,
  &:disabled {
    background-color: $secondary;
    border-color: $secondary;
  }
}

.btn-outline-success {
  color: $darkgreen;
  border-color: $lightgreen;

  &:not(:disabled):not(.disabled):hover {
    background-color: $lightgreen-half-opacity;
  }
  &:focus,
  &:not(:disabled):not(.disabled):active {
    background-color: $darkgreen;
    border-color: $darkgreen;
    box-shadow: 0 0 0 0.2rem $darkgreen-half-opacity;
  }
  &.disabled,
  &:disabled {
    background-color: $secondary;
    border-color: $secondary;
  }
}

.btn-danger {
  background-color: $danger;
  border-color: $danger;

  &:not(:disabled):not(.disabled):hover {
    background-color: $red-half-opacity;
  }
  &:focus,
  &:not(:disabled):not(.disabled):active {
    background-color: $red-half-opacity;
    border-color: $red-half-opacity;
    box-shadow: 0 0 0 0.2rem $red-half-opacity;
  }
  &.disabled,
  &:disabled {
    background-color: $secondary;
    border-color: $secondary;
  }
}

.btn-warning {
  background-color: $warning;
  border-color: $warning;

  &:not(:disabled):not(.disabled):hover {
    background-color: $orange-half-opacity;
  }
  &:focus,
  &:not(:disabled):not(.disabled):active {
    background-color: $orange-half-opacity;
    border-color: $orange-half-opacity;
    box-shadow: 0 0 0 0.2rem $orange-half-opacity;
  }
  &.disabled,
  &:disabled {
    background-color: $secondary;
    border-color: $secondary;
  }
}

.btn-info {
  background-color: $info;
  border-color: $info;

  &:not(:disabled):not(.disabled):hover {
    background-color: $blue-half-opacity;
  }
  &:focus,
  &:not(:disabled):not(.disabled):active {
    background-color: $blue-half-opacity;
    border-color: $blue-half-opacity;
    box-shadow: 0 0 0 0.2rem $primary-half-opacity;
  }
  &.disabled,
  &:disabled {
    background-color: $secondary;
    border-color: $secondary;
  }
}

/* Alerts */
.alert-primary {
  color: white;
  background-color: $primary;
  border-color: $primary-half-opacity;
}

.alert-info {
  color: white;
  background-color: $blue;
  border-color: $blue-half-opacity;
}

.alert-success {
  color: $primary;
  background-color: $lightgreen-half-opacity;
  border-color: $lightgreen;
}

.alert-warning {
  color: $primary;
  background-color: $orange-half-opacity;
  border-color: $orange;
}

/* Reusable component style */
.custom-badge {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid $darkblue;
}
